/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body { 
  /* This is where all the CSS code for the body of the HTML document goes! */
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  /* This is specific only to the headings! */
  font-family: "Merriweather", serif;
}
