<form class="makeapi-details">
  <fieldset>
    <label>Title</label>
    <input type="text" name="title" class="input">
    <div class="error-message">This title is already taken.</div>
  </fieldset>
  <fieldset>
    <label>Tags</label>
    <input type="hidden" name="tags" class="input">
    <div class="tags-wrapper">
      <ul name="tag-output" class="tags-output">
        <li>thimble</li>
      </ul>
      <input type="text" name="tag-input" class="tags-input">
    </div>
  </fieldset>
  <fieldset>
    <label>Thumbnail</label>
    <input type="text" name="thumbnail" class="input">
    <ul class="thumbnail-choices input"></ul>
  </fieldset>
  <fieldset>
    <label>Description</label>
    <textarea name="description" class="input"></textarea>
  </fieldset>
</form>
