<!doctype html>
<html>
  <!-- base loader for postMessage based site previews.
       Note that the only thing this page does is set up
       a 100% width, 100% height iframe, into which data
       can be loaded for previewing.

       Thimble pages themselves also loadein an iframe, in
       the Friendlycode editor html page -->
  <head>
    <meta charset="utf-8">
    <title>Thimble preview loader</title>
    <style>
      html, body, iframe {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
      }
      iframe {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    </style>
    <script type="css/template">
      {
        box-shadow: 0 0 6px 0 rgba(57, 133, 237, 1),
                    inset 0 0 10px 0 rgba(57, 133, 237, 0.5);
        border-radius: 2px;
      }
    </script>
    <script>(function() {
      // whoever has embedded us, we need to be able to talk back to.
      var owner = false;

      // persistent "highlighted by cursor" element
      var generateRandomClass = (function() {
        var characters = "abcdefghijklmnopqrstuvwyxw";
        characters = characters + characters.toUpperCase();
        return function() {
          var string = ""
          for(i=0; i<16; i++) {
            string += characters[(Math.random()*characters.length) | 0];
          }
          return string;
        };
      }());

      var curHighlight;
      var highlightClass = generateRandomClass();
      var highlightCSS = "<style>." + highlightClass + document.querySelector("script[type='css/template']").innerHTML + "</style>";

      var handleCursorPositioning = function(route) {
        if(curHighlight) {
          curHighlight.classList.remove(highlightClass);
        }
        if(route === false) return;
        var element = doc.querySelector("html");
        if(route instanceof Array) {
          while(route.length > 0) {
            element = element.children[route.splice(0,1)[0]];
          }
        } else { element = route; }
        var tag = element.localName.toLowerCase();
        if(tag === "body" || tag === "html") {
          return;
        }
        element.classList.add(highlightClass);
        curHighlight = element;
      }

      // find the route to this element
      var findRoute = function(e) {
        var route = [];
        var p = e.parentNode;
        if(e.localName === "body" || e.localName === "html") return route;
        while(p && e.localName !== "body") {
          route = route.concat([Array.prototype.indexOf.call(p.childNodes, e)]);
          e = p;
          p = p.parentNode;
        }
        return route;
      };

      // event monitoring for content inside the preview iframe
      var monitorIFrame = function(doc) {
        if(owner) {
          ["click", "mouseover", "mouseout"].forEach(function(evtName) {
            doc.addEventListener(evtName, function(evt) {
              if(evtName === "mouseover") {
                handleCursorPositioning(evt.target);
              }
              if(evtName === "mouseout") {
                handleCursorPositioning(false);
              }
              route = findRoute(evt.target);
              var clickEvent = JSON.stringify({
                element: evt.target.localName,
                route: route,
                type: "previewloader:" + evtName
              });
              owner.postMessage(clickEvent, "*");
            });
          });
        }
      }

      // persistent iframe#document reference
      var doc;

      /**
       * content management object
       */
      var content = {
        overwrite: function overwriteIFrame(sourceCode) {
          var iframe = document.createElement("iframe");
          iframe.style.opacity = 0.0;
          document.body.appendChild(iframe);

          // set new content
          doc = iframe.contentDocument;
          doc.open();
          doc.write(sourceCode.replace("</body", highlightCSS + "</body"));
          doc.close();

          // kill off old iframe, reveal new iframe
          document.body.removeChild(document.querySelector("iframe"));
          iframe.style.opacity = 1.0;
          monitorIFrame(doc);

          // also insert a BASE tag with new tab/window as default target,
          // so that links don't open in our embed iframe.
          var baseTag = doc.createElement('base');
          baseTag.setAttribute('target', '_blank');
          doc.querySelector("head").appendChild(baseTag);
        }
      }

      /**
       * Listen for post messages, which can be of the following format:
       *
       *  type: overwrite  -  replace the content in its entirety
       *                      with a new iframe, with the new content.
       */
      window.addEventListener("message", function(event) {
        if(event.source === window) return;

        try {
          data = JSON.parse(event.data);

          // Currently we only support "overwrite",
          // but once a good DOM diff solution is avaible,
          // we want to extend this instruction set to
          // also allow selecting diff-based updating.
          if(data.type) {

            if(data.type === "overwrite") {

              // This source told us to update - it is therefore
              // our owner and we will inform it of events.
              if(!owner) { owner = event.source; }

              if ("sourceCode" in data && typeof data.sourceCode === "string") {
                content[data.type](data.sourceCode);
              } else {
                console.error("preview payload had no associated, valid sourceCode", event.data);
              }
            }

            if(data.type === "setcursor") {
              handleCursorPositioning(data.route);
            }

          } else {
            console.error("preview payload had no associated instruction type", event.data);
          }
        } catch (e) {
          console.error("JSON.parse failed for preview payload", event.data);
        }
      });

    }());</script>
  </head>
  <body>
    <iframe></iframe>
  </body>
</html>
