<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{ newrelic.getBrowserTimingHeader() | safe }}
  <title>Webmaker SSO server</title>
  <style>
    p {
      font: bold 12px/1 "Helvetica Neue", sans-serif;
      margin: -3px 0 0;
      padding: 0;
      color: #fff;
    }
  </style>
</head>
<body>
  <!--
    This is the listener client for login.webmaker.org - it has no front-end
    which hopefully explains why you are seeing what looks like an empty/broken
    page now.
    More information can be found at https://github.com/mozilla/login.webmaker.org/
  -->
</body>
</html>
