language: node_js
node_js:
- '4.3'
sudo: false
env:
  global:
  - L10N_LOCALE_SRC: locales
  - L10N_LOCALE_DEST: dist/locales
  - secure: EAbCzlvar10vLD/tkch8k7aeJj55AG5puDLIdj8CcqE9oBIplhZMMkEfLYCFYkubm0eIKMKnbSRqs/pddjebiQwGmjzWBN5Lhf6U3k7df36UB4WQwbisl88jxTKWmve4vLtYeJBuVQrr4eFxeB0OY0davbrmGItETG0ZaQYrJjY=
cache:
  directories:
  - node_modules
after_script:
- bash ./scripts/localize-brackets.sh
deploy:
  provider: heroku
  api_key:
    secure: fBMXtEXYNL6m8gjBmx+ic86qX7iG6TI58lCoRy+N10nuDFTvGp4mRI9BH2HAY4c4JhZyfRFHKGH9RCRcmmmGVx2AogWDfRn4QxKZ9x90zRk9A8xE/I+NHsV6SjgmuAgejLgPqheU9HzLE7TEX/DRFEBJnIbnwI/EPec1FN4tD+A=
  app: bramble-staging
  on:
    repo: mozilla/thimble.mozilla.org
    branch: master
