env:
  - CXX=g++-4.8
language: node_js
node_js:
- '4.6'
sudo: false
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
cache:
  directories:
  - node_modules
