# Copy this file to .env or just set these environment variables,
# after removing all the empty lines and comments.

# Number of Concurrent node processes to run
WEB_CONCURRENCY=1

# development or production
NODE_ENV="development"

# default thimble port is 3500
PORT=3500

# hostname for this server according to your browser
# if they don't match then Persona will not work
APP_HOSTNAME="http://localhost:3500"

# secret used for signed cookies
SESSION_SECRET="dummy secret value"

# Optional google analytics settings - if used, they will inject
# the google analytics JS snippet with your information filled in.
GA_ACCOUNT=
GA_DOMAIN=

# Is this server running behind an SSL-enabled load-balancer?
FORCE_SSL=false

# i18n Language Support
L10N_SUPPORTED_LANGUAGES="[ "*" ]"
L10N_LOCALE_SRC="locales"
L10N_LOCALE_DEST="dist/locales"

# Logging level
# Can be "info" (all logs), "warn" (warning and error logs) or "error" (only error logs)
LOG_LEVEL="info"

##
# Bramble config, including grunt tasks (see gruntfile.js)
#

## Where is bramble being loaded from?
BRAMBLE_URI="http://localhost:8000"

## Location of the publish.webmaker.org server
PUBLISH_HOSTNAME="http://localhost:2015"
PUBLISHED_PROJECTS_HOSTNAME='[ "http://localhost:8001" ]'

## Maximum size we'll allow for files we save to the db (5M by default)
MAX_FILE_SIZE_BYTES=5242880

##
# id.wm.o config
#

OAUTH_CLIENT_ID="test"
OAUTH_CLIENT_SECRET="test"
OAUTH_AUTHORIZATION_URL="http://localhost:1234"

# Default content title, which should match a folder inside the repo's /default folder
DEFAULT_PROJECT_TITLE="empty-project"

# Debug flag for logging asserts on user token, see https://github.com/mozilla/thimble.mozilla.org/issues/2161
ASSERT_TOKEN=false

# Specify how projects are loaded: load as single tarball ("tarball") or as separate files ("files").
# The default is "tarball" if not specified.
PROJECT_LOAD_STRATEGY="files"

# Shutdown new account creation
SHUTDOWN_NEW_ACCOUNTS=false

# Shutdown new project creation and publishing
SHUTDOWN_NEW_PROJECTS_AND_PUBLISHING=false
