# Copy this file to .env or just set these environment variables,
# after removing all the empty lines and comments.

# default port is 3000
export PORT=3000

# hostname for this server according to your browser
# if they don't match then Persona will not work
export HOSTNAME="http://localhost:3000"

# make API url
export MAKE_ENDPOINT="http://localhost:6001"

# RESTful bleaching url
export BLEACH_ENDPOINT="http://localhost:5000"

# secret used to sign cookie. any long string will do
export SECRET=irrelephant

# dev or deploy
export NODE_ENV="development"
