# Copy this file to .env or just set these environment variables,
# after removing all the empty lines and comments.

# development or production
export NODE_ENV="development"

# default thimble port is 3500
export PORT=3500

# hostname for this server according to your browser
# if they don't match then Persona will not work
export APP_HOSTNAME="http://localhost:3500"

# secret used for signed cookies
export SESSION_SECRET="dummy secret value"

# Optional google analytics settings - if used, they will inject
# the google analytics JS snippet with your information filled in.
export GA_ACCOUNT=
export GA_DOMAIN=

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false

# i18n Language Support
export L10N_SUPPORTED_LANGUAGES="[ "*" ]"
export L10N_LOCALE_SRC="locales"
export L10N_LOCALE_DEST="dist/locales"

##
# Bramble config, including grunt tasks (see gruntfile.js)
#

## Where is bramble being loaded from?
export BRAMBLE_URI="http://localhost:8000"

## Which branch is considered master?
export THIMBLE_MAIN_BRANCH=""

## Which remote is considered upstream?
export THIMBLE_MAIN_REMOTE=""

## Location of the publish.webmaker.org server
export PUBLISH_HOSTNAME="http://localhost:2015"
export PUBLISHED_PROJECTS_HOSTNAME='[ "http://localhost:8001" ]'

## Maximum size we'll allow for files we save to the db (5M by default)
export MAX_FILE_SIZE_BYTES=5242880

##
# AWS CloudFront invalidation configuration (see invalidate.js)
#

## Distribution ID
export CLOUDFRONT_DISTRIBUTION_ID="foo"

## Access Key ID
export AWS_ACCESS_KEY_ID="foo"

## Secret Key
export AWS_SECRET_ACCESS_KEY="foo"

##
# id.wm.o config
#

export OAUTH_CLIENT_ID="test"
export OAUTH_CLIENT_SECRET="test"
export OAUTH_AUTHORIZATION_URL="http://localhost:1234"

# Default content title, which should match a folder inside the repo's /default folder
export DEFAULT_PROJECT_TITLE="empty-project"

# Location of front-page project resources (see views/homepage/index.html )
export KEEP_CALM_REMIX_URL="https://thimble-beta.webmaker.org/{{ locale }}/projects/72/remix"
export KEEP_CALM_PUBLISHED_URL="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/171/"
export BACK_TO_SCHOOL_REMIX_URL="https://thimble-beta.webmaker.org/{{ locale }}/projects/75/remix"
export BACK_TO_SCHOOL_PUBLISHED_URL="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/62/"
export COMIC_STRIP_REMIX_URL="https://thimble-beta.webmaker.org/{{ locale }}/projects/72/remix"
export COMIC_STRIP_PUBLISHED_URL="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/32/"

export THREE_THINGS_I_HEART_REMIX_URL="https://thimble.mozilla.org/{{ locale }}/projects/2375/remix"
export THREE_THINGS_I_HEART_KIT_URL="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11288/"
export HOMEWORK_EXCUSE_GENERATOR_REMIX_URL="https://thimble.mozilla.org/{{ locale }}/projects/2498/remix"
export HOMEWORK_EXCUSE_GENERATOR_KIT_URL="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11701/"
export SIX_WORD_SUMMER_REMIX_URL="https://thimble.mozilla.org/{{ locale }}/projects/2500/remix"
export SIX_WORD_SUMMER_KIT_URL="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11704/"

