@font-face {
   font-family: 'Open Sans Regular';
   src: url('fonts/OpenSans-Regular.ttf');	
}

@font-face {
   font-family: 'Open Sans Bold';
   src: url('fonts/OpenSans-Bold.ttf');	
}

body {
   font-family: 'Open Sans Regular', sans-serif;	
   font-size: 1em;
   padding: 0px;
   margin: 0px;
   background-image: url('O2_scribbles.png');
   background-repeat: no-repeat;
   background-position: right bottom;
   background-attachment: fixed;
   line-height: 1.8em;
}

strong {
font-family: 'Open Sans Bold';
}

.content_wrapper {
   position: relative;
   width: 70%;
   min-width: 800px;
   height: 100%;
   margin: 0 auto;	
}

header {
   position: absolute;
   top: 60px;	
   color: #88CCFF;
}

.video_position {
   position: relative;
   left: 58px;
   top: 42px;
   margin: 0px;
   padding: 0px;			
}

.video_placeholder {
   position: absolute;
   background-image: url('O2_video_placeholder.png');
   background-repeat: no-repeat;
   background-position: left top;
   width: 400px;
   height: 300px;
   margin: 0px;
   padding: 0px;
   right: 0px;
   top: 10px;	
}

.bluebox {
   background-color: #0086C3;
   color: #88CCFF;
   width: 78%;	
   border-radius: 10px;
   padding: 15px;
   padding-left: 20px;
   line-height: 1.3em;
}

.content {
   position: absolute;
   float: left;
   top: 250px;
   width: 100%;
}

h2 {
   color: #202474;
   font-size: 1.5em;
   padding: 0px;
   margin: 0px;
}

h4 {
   color: white;
}