{% block bramble %}
    <div class="friendlycode-toolbar">
        {% include 'friendlycode/templates/nav-options.html' %}
    </div>
    <div id="webmaker-bramble"></div>

    <script src="/scripts/editor/js/require-config.js"></script>
    <script src="scripts/editor/vendor/require.min.js"></script>
    <script id="friendly-code" src="/scripts/thimble-page.js"
            data-make-details="{{ makedetails }}"
            data-editor-host="{{ editorHOST }}"
            data-editor-url="{{ editorURL }}"
            data-app-url="{{ appURL }}">
    </script>
{% endblock %}
