<footer>
  <div class="content-wrapper">
    <ul class="social-links">
      <li><a title="{{ gettext("contactEmail") }}" class="email" href="mailto:thimble@mozillafoundation.org"><span class="icon"></span><span>{{ gettext("contactEmail") }}</span></a></li>
      <li><a title="{{ gettext("readTheDocs") }}" class="help" href="https://support.mozilla.org/products/webmaker/thimble"><span class="icon"></span><span>{{ gettext("readTheDocs") }}</span></a></li>
      <li><a title="{{ gettext("contributeTitle") }}" class="github" href="https://github.com/mozilla/thimble.mozilla.org"><span class="icon"></span><span>{{ gettext("contribute") }}</span></a></li>
      <li><a title="{{ gettext("termsOfUse") }}" class="terms" href="https://mozilla.org/about/legal/"><span class="icon"></span><span>{{ gettext("termsOfUse") }}</span></a></li>
      <li><a title="{{ gettext("privacyPolicy") }}" class="privacy" href="https://www.mozilla.org/privacy/websites/"><span class="icon"></span><span>{{ gettext("privacyPolicy") }}</span></a></li>
    </ul>
    <div class="project-info">
      <a class="mozilla-logo" height="auto" title="Mozilla" href="https://www.mozilla.org/"></a>
      <p class="thimble-context">
        {{ gettext("thimbleFooter") | safe }}
      </p>
    </div>
  </div>
</footer>
