{% block friendlycode %}
    <!-- friendlycode editor -->
    <div id="bare-fc-holder" class="friendlycode-loading"></div>
    <script src="/friendlycode/js/require-config.js"></script>
    <script src="/friendlycode/vendor/require.min.js"></script>
    <script id="friendly-code" src="/scripts/friendlycode.js"
            data-make-details="{{ makedetails }}"
            data-editor-host="{{ editorHOST }}"
            data-editor-url="{{ editorURL }}"
            data-app-url="{{ appURL }}">
    </script>
    <div id="webmaker-bramble"></div>
{% endblock %}
