<div class="gallery-wrapper">
  <div class='gallery'>

    <div class="search-header">
      <h2 class='title'></h2>

      <div class='search-wrapper-outer'>
        <span class='search-tags'></span>
        <input class='search' placeholder='{{ gettext("gallerySearchPlaceholder") }}' type='text' />
        <div class='icon search-icon'></div>
        <div title='Clear the search term' class='clear icon clear-icon'></div>
      </div>
    </div>

    <div class='popular-tags'>
      <span class='tags-title'></span>
      <span class='tag-list'></span>
    </div>

    <div class='activities'><!-- activities are added here--></div>

    <div class='no-results'>
      <p>{{ gettext("noResultsText") | safe }}</p>
    </div>

  </div>
</div>
