{% extends "layout.html" %}
{% block body %}
    {% include 'userbar.html' %}
    {% include 'tutorialbar.html' %}
    {% include 'friendlycode.html' %}
    <script src="{{audience}}/sso/include.js"></script>
    {% include 'ssooverride.html' %}
    <script>
      require(["ssooverride"], function() {
        // ensure that SSO is triggered only after the login/logout handling has been set up
        require(["{{userbar}}/js/sso-ux.js"], function() {
          // once we have it all ready, setup the login iframe
          $(".include-frame").attr("src", "{{audience}}/sso/include.html");
        });
      });
    </script>
{% endblock %}
