{% extends "layout.html" %}
{% block body %}
    <script src="{{ personaHost }}/include.js"></script>
    {% include 'userbar.html' %}
    {% include 'webmaker-auth-client.html' %}
    {% include 'tutorialbar.html' %}
    {% include 'friendlycode.html' %}
    {% block ssooverride %}
      <script id="ssooverride" src="/scripts/ssooverride.js"
              data-hostname="{{ hostname }}"
              data-login-to-save="{{ gettext('Login to save') }}"
              async>
      </script>
    {% endblock %}
{% endblock %}
