<!DOCTYPE html>
<html lang="{{localeInfo.lang}}" dir="{{localeInfo.direction}}" class="deployment-type-development">
  <head>
    <meta charset="utf-8">
    {{ newrelic.getBrowserTimingHeader() | safe }}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="persona-email" content="{{email}}">
    <meta name="thimble-operation" content="{{pageOperation}}">
    <meta name="thimble-project-origin" content="{{origin}}">
    <meta name="csrf-token" content="{{csrf}}">
    <base target="_blank">
    <title>{{ gettext("Mozilla Thimble") }}</title>

    <link rel="stylesheet" href="{{ HTTP_STATIC_URL }}friendlycode/css/friendlycode.css">
    <link rel="stylesheet" href="{{ HTTP_STATIC_URL }}stylesheets/tutorial.css">
    <link rel="stylesheet" href="{{ HTTP_STATIC_URL }}friendlycode/css/details-form.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="{{ HTTP_STATIC_URL }}stylesheets/userbar-overrides.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% if GA_ACCOUNT %}
    <script id="google-analytics-js" src="/scripts/google-analytics.js"
            data-ga-account="{{ GA_ACCOUNT }}"
            data-ga-domain="{{ GA_DOMAIN }}"
            async>
    </script>
    {% endif %}
  </head>
  <body style="margin: 0" data-make-url="{{ makeUrl }}" data-make-endpoint="{{ MAKE_ENDPOINT }}">
    {% block body %}{% endblock %}
  </body>
</html>
