<section class="mozfest-banner">
    <div class="inner-content">
        <div class="mozfest-logo"></div>
        <h2>{{ gettext("mozfestInvitationTitle") }}</h2>
        <p>{{ gettext("mozfestInvitationDescription") }}</p>
        <a class="button" href="https://mozillafestival.org/proposals">{{ gettext("mozfestInvitationPropose") }}</a>
        <a href="https://mozillafestival.org/">{{ gettext("mozfestInvitationAbout") }}</a>
        <a href="mailto:thimble@mozillafoundation.org">{{ gettext("mozfestInvitationQuestions") }}</a>
    </div>
</section>
