<section class="remix-projects">
  {# Cache the remix projects' localized names #}
  {% set keepCalmPoster = gettext("keepCalmPoster") %}
  {% set backToSchoolPostcard = gettext("backToSchoolPostcard") %}
  {% set currentEventsComic = gettext("currentEventsComic") %}
  {% set threeThingsILove = gettext("threeThingsILove") | safe %}
  {% set homeworkExcuseGenerator = gettext("homeworkExcuseGenerator") %}
  {% set mySixWordSummer = gettext("mySixWordSummer") %}

  {# Cache localized representations of repeated phrases #}
  {% set teachingKit = gettext("teachingKit") %}
  {% set remixThisProject = gettext("remixThisProject") %}
  {% set or = gettext("or") %}
  {% set useItToTeach = gettext("useItToTeach") %}

  <div class="content-wrapper">
      <h2 class="projects-heading">{{ gettext("remixProjectsHeading") }}</h2>

      <div class="remixable-projects">

        <!-- Keep Calm› Project -->
        <div class="project keep-calm">
          <h2 class="title">{{ keepCalmPoster }}</h2>
          <div class="thumbnail">
            <a href="{{ keepCalmRemixUrl }}" title="{{ gettext("keepCalmPosterRemixTitle") | instantiate }}" class="image"></a>
          </div>
          <p class="description">
            {{ gettext("keepCalmPosterDescription") }}
          </p>
          <a title="{{ gettext("keepCalmPosterRemixTitle") | instantiate }}" href="{{ keepCalmRemixUrl }}" class="remix-button">{{ remixThisProject }}</a>
          <div class="or-wrapper">
            <hr />
            <div class="or">{{ or }}</div>
          </div>
          <div class="teach">
            <h3>{{ useItToTeach }}</h3>
            <ul>
              <li>{{ gettext("remixGoal1") }}</li>
              <li>{{ gettext("remixGoal2") }}</li>
              <li>{{ gettext("remixGoal3") }}</li>
            </ul>
            <a href="{{ keepCalmPublishedUrl }}" title="{{ gettext("keepCalmPosterTeachingKitTitle") | instantiate }}" class="teaching-kit">{{ gettext("keepCalmPosterTeachingKit") | instantiate }}</a>
          </div>
        </div>

        <!-- Back to School Postcard Project -->
        <div class="project postcard">
          <h2 class="title">{{ backToSchoolPostcard }}</h2>
          <div class="thumbnail">
            <a href="{{ backToSchoolRemixUrl }}" title="{{ gettext("backToSchoolPostcardRemixTitle") | instantiate }}" class="image"></a>
          </div>
          <p class="description">
            {{ gettext("backToSchoolPostcardDescription") }}
          </p>
          <a href="{{ backToSchoolRemixUrl }}" title="{{ gettext("backToSchoolPostcardRemixTitle") | instantiate }}" class="remix-button">{{ remixThisProject }}</a>
          <div class="or-wrapper">
            <hr />
            <div class="or">{{ or }}</div>
          </div>
          <div class="teach">
            <h3>{{ useItToTeach }}</h3>
            <ul>
              <li>{{ gettext("remixGoal2") }}</li>
              <li>{{ gettext("remixGoal4") }}</li>
              <li>{{ gettext("remixGoal5") | safe }}</li>
            </ul>
            <a href="{{ backToSchoolPublishedUrl }}" title="{{ gettext("backToSchoolPostcardTeachingKitTitle") | instantiate }}" class="teaching-kit">{{ gettext("backToSchoolPostcardTeachingKit") | instantiate }}</a>
          </div>
        </div>


        <!-- Comic Strip Project -->
        <div class="project comic-strip">
          <h2 class="title">{{ currentEventsComic }}</h2>
          <div class="thumbnail">
            <a href="{{ comicStripRemixUrl }}" title="{{ gettext("currentEventsComicRemixTitle") | instantiate }}" class="image"></a>
          </div>
          <p class="description">
            {{ gettext("currentEventsComicDescription") }}
          </p>
          <a href="{{ comicStripRemixUrl }}" title="{{ gettext("currentEventsComicRemixTitle") | instantiate }}"  class="remix-button">{{ remixThisProject }}</a>
          <div class="or-wrapper">
            <hr />
            <div class="or">{{ or }}</div>
          </div>
          <div class="teach">
            <h3>{{ useItToTeach }}</h3>
            <ul>
              <li>{{ gettext("remixGoal2") }}</li>
              <li>{{ gettext("remixGoal6") }}</li>
              <li>{{ gettext("remixGoal4") }}</li>
            </ul>
            <a href="{{ comicStripPublishedUrl }}" title="{{ gettext("currentEventsComicTeachingKitTitle") | instantiate }}" class="teaching-kit">{{ gettext("currentEventsComicTeachingKit") | instantiate }}</a>
          </div>
        </div>

      </div>

      <!-- Row 2 -->
      <div class="remixable-projects">

        <div class="project three-things-i-heart">
          <h2 class="title">{{ threeThingsILove }}</h2>
          <div class="thumbnail">
            <a href="{{ threeThingsIHeartRemixUrl }}" title="{{ gettext("threeThingsILoveRemixTitle")  | instantiate | safe }}" class="image"></a>
          </div>
          <p class="description">
            {{ gettext("threeThingsILoveDescription") }}
          </p>
          <a title="{{ gettext("threeThingsILoveRemixTitle") | instantiate | safe }}" href="{{ threeThingsIHeartRemixUrl }}" class="remix-button">{{ remixThisProject }}</a>
          <div class="or-wrapper">
            <hr />
            <div class="or">{{ or }}</div>
          </div>
          <div class="teach">
            <h3>{{ useItToTeach }}</h3>
            <ul>
              <li>{{ gettext("remixGoal7") }}</li>
              <li>{{ gettext("remixGoal2") }}</li>
              <li>{{ gettext("remixGoal8") }}</li>
            </ul>
            <a href="{{ threeThingsIHeartKitUrl }}" title="{{ gettext("threeThingsILoveTeachingKitTitle") | instantiate | safe }}" class="teaching-kit">{{ gettext("threeThingsILoveTeachingKit") | instantiate }}</a>
          </div>
        </div>

        <div class="project homework-excuse-generator">
          <h2 class="title">{{ homeworkExcuseGenerator }}</h2>
          <div class="thumbnail">
            <a href="{{ homeworkExcuseGeneratorRemixUrl }}" title="{{ gettext("homeworkExcuseGeneratorRemixTitle") | instantiate }}" class="image"></a>
          </div>
          <p class="description">
            {{ gettext("homeworkExcuseGeneratorDescription") }}
          </p>
          <a href="{{ homeworkExcuseGeneratorRemixUrl }}" title="{{ gettext("homeworkExcuseGeneratorRemixTitle") | instantiate }}" class="remix-button">{{ remixThisProject }}</a>
          <div class="or-wrapper">
            <hr />
            <div class="or">{{ or }}</div>
          </div>
          <div class="teach">
            <h3>{{ useItToTeach }}</h3>
            <ul>
              <li>{{ gettext("remixGoal9") }}</li>
              <li>{{ gettext("remixGoal10") }}</li>
              <li>{{ gettext("remixGoal11") | safe }}</li>
            </ul>
            <a href="{{ homeworkExcuseGeneratorKitUrl }}" title="{{ gettext("homeworkExcuseGeneratorTeachingKitTitle") | instantiate }}" class="teaching-kit">{{ gettext("homeworkExcuseGeneratorTeachingKit") | instantiate }}</a>
          </div>
        </div>

        <div class="project my-six-word-summer">
          <h2 class="title">{{ mySixWordSummer }}</h2>
          <div class="thumbnail">
            <a href="{{ sixWordSummerRemixUrl }}" title="{{ gettext("mySixWordSummerRemixTitle") | instantiate }}" class="image"></a>
          </div>
          <p class="description">
            {{ gettext("mySixWordSummerDescription") }}
          </p>
          <a href="{{ sixWordSummerRemixUrl }}" title="{{ gettext("mySixWordSummerRemixTitle") | instantiate }}" class="remix-button">{{ remixThisProject }}</a>
          <div class="or-wrapper">
            <hr />
            <div class="or">{{ or }}</div>
          </div>
          <div class="teach">
            <h3>{{ useItToTeach }}</h3>
            <ul>
              <li>{{ gettext("remixGoal12") | safe }}</li>
              <li>{{ gettext("remixGoal2") }}</li>
              <li>{{ gettext("remixGoal13") }}</li>
            </ul>
            <a href="{{ sixWordSummerKitUrl }}" title="{{ gettext("mySixWordSummerTeachingKitTitle") | instantiate }}" class="teaching-kit">{{ gettext("mySixWordSummerTeachingKit") | instantiate }}</a>
          </div>
        </div>

      </div>
  </div>
</section>