<div>
	<h2>Want to try something new?</h2> 
	<p>
		Help us make Thimble even better by trying our experimental new features.
		While testing you can give the team feedback or suggest features on <a href="https://github.com/mozilla/thimble.webmaker.org/issues/new">Github</a>.
	</p>
	<p>
  		<em>Just remember that makes might not be usable between versions.</em>
	</p>
	<h3 class="text-right">What are you waiting for?</h3>
	<p>
		<button class="btn btn-danger" id="switch-thimble-dialog-no">Not now</button>
		<button class="btn btn-primary pull-right" id="switch-thimble-dialog-yes">Take me there!</button>
	</p>
</div>
