          <li class="together-btn">
            <span class="icon icon-comments-alt"></span>
            <script src="/scripts/disable-webrtc.js"></script>
            <script src="{{ together }}/togetherjs-min.js"></script>
            <button class="together-toggle">{{ gettext("Start Togetherjs") }}</button>
            <script id="together-toggle" src="/scripts/together-toggle-script.js"
                    data-stop-together="{{ gettext('Stop Togetherjs') }}"
                    data-start-together="{{ gettext('Start Togetherjs') }}"
                    async>
            </script>
          </li>
