{% block userbar %}
    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">
        <a id="logo" href="/"><img src="/img/thimble-logo.svg" alt="Mozilla Thimble" /></a>
        <ul class="webmaker-nav user-info">
          <li class="user">
              {{ gettext("Hi") }} <span id="identity" class="user-name-container"></span>
          </li>
          <li class="tutorial-btn hidden"><button>{{ gettext("Tutorials") }}</button></li>
          <li class="makes"><button>{{ gettext("My makes") }}</button></li>
          <li>
            <iframe class="include-frame"></iframe>
          </li>
        </ul>
      </nav>
      <div class="my-projects-container">
        <iframe class="my-projects-iframe"></iframe>
      </div>
      <div class="tutorial-list">
        <div class="tutorial-arrow"></div>
      </div>
    </div>
{% endblock %}
