{% block userbar %}
    <!-- webmaker user bar -->
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">

        <a class="logo" href="/"><img src="/img/thimble-logo.svg" alt="Mozilla Thimble" /></a>

        <div class="tutorial-btn hidden"><button class="butter-btn btn-white">{{ gettext("Tutorials") }}</button></div>

        <div class="butter-btn-menu-container butter-project-menu">
          <a class="butter-btn btn-white butter-project-menu-control butter-btn-menu-control"><span class="icon icon-only icon-reorder"></span></a>
          <ul class="butter-btn-menu">
            <li><a href="/{{lang}}/" target="_blank"> <span class="icon icon-file-alt"></span> {{ gettext("New") }}</a></li>
            <!--
              More menu options to follow
              <li><a class="butter-reset-history-btn" target="_blank"> <span class="icon icon-remove"></span> {{ gettext("Reset") }}</a></li>
            -->
          </ul>
        </div>

        <div class="webmaker-nav user-info">
          <div class="user">
              {{ gettext("Hi") }} <span id="identity" class="user-name-container"></span> <span class="icon icon-caret-down"></span>
          </div>
          <ul class="menu-container">
            <li class="makes my-makes"><span class="icon icon-th-large"></span><button>{{ gettext("My makes") }}</button></li>
            <li class="login"><span class="icon icon-signout"></span><iframe src="{{audience}}/sso/include.html" class="include-frame"></iframe>
            </li>
          </ul>
        </div>

        <div class="back-to-webmaker"><span class="webmaker-logo-icon webmaker-icon"></span> <a href="{{audience}}">Webmaker.org</a></div>

      </nav>
      <div class="my-projects-container">
        <iframe class="my-projects-iframe"></iframe>
      </div>
      <div class="tutorial-list">
        <div class="tutorial-arrow"></div>
      </div>
    </div>
{% endblock %}
