<!-- HTML ERRORS -->
<div class="error-msg UNEXPECTED_CLOSE_TAG">
  {{ gettext("UNEXPECTED_CLOSE_TAG") | safe }}
</div>
<div class="error-msg MISMATCHED_CLOSE_TAG">
  {{ gettext("MISMATCHED_CLOSE_TAG") | safe }}
</div>
<div class="error-msg CLOSE_TAG_FOR_VOID_ELEMENT">
  {{ gettext("CLOSE_TAG_FOR_VOID_ELEMENT") | safe }}
</div>
<div class="error-msg SELF_CLOSING_NON_VOID_ELEMENT">
  {{ gettext("SELF_CLOSING_NON_VOID_ELEMENT") | safe }}
</div>
<div class="error-msg UNCLOSED_TAG">
  {{ gettext("UNCLOSED_TAG") | safe }}
</div>
<div class="error-msg INVALID_TAG_NAME">
  {{ gettext("INVALID_TAG_NAME") | safe }}
</div>
<div class="error-msg UNTERMINATED_ATTR_VALUE">
  {{ gettext("UNTERMINATED_ATTR_VALUE") | safe }}
</div>
<div class="error-msg UNQUOTED_ATTR_VALUE">
  {{ gettext("UNQUOTED_ATTR_VALUE") | safe }}
</div>
<div class="error-msg UNTERMINATED_CLOSE_TAG">
  {{ gettext("UNTERMINATED_CLOSE_TAG") | safe }}
</div>
<div class="error-msg UNTERMINATED_OPEN_TAG">
  {{ gettext("UNTERMINATED_OPEN_TAG") | safe }}
</div>
<div class="error-msg UNTERMINATED_COMMENT">
{{ gettext("UNTERMINATED_COMMENT") | safe }}
</div>
<div class="error-msg HTTP_LINK_FROM_HTTPS_PAGE">
{{ gettext("HTTP_LINK_FROM_HTTPS_PAGE") | safe }}
</div>

<!-- CSS ERRORS -->
<div class="error-msg INVALID_CSS_DECLARATION">
  {{ gettext("INVALID_CSS_DECLARATION") | safe }}
</div>
<div class="error-msg INVALID_CSS_PROPERTY_NAME">
  {{ gettext("INVALID_CSS_PROPERTY_NAME") | safe }}
</div>
<div class="error-msg INVALID_CSS_RULE">
  {{ gettext("INVALID_CSS_RULE") | safe }}
</div>
<div class="error-msg MISSING_CSS_SELECTOR">
  {{ gettext("MISSING_CSS_SELECTOR") | safe }}
</div>
<div class="error-msg UNFINISHED_CSS_SELECTOR">
  {{ gettext("UNFINISHED_CSS_SELECTOR") | safe }}
</div>
<div class="error-msg INVALID_CSS_PROPERTY_NAME">
  {{ gettext("INVALID_CSS_PROPERTY_NAME") | safe }}
</div>
<div class="error-msg MISSING_CSS_PROPERTY">
  {{ gettext("MISSING_CSS_PROPERTY") | safe }}
</div>
<div class="error-msg UNFINISHED_CSS_PROPERTY">
  {{ gettext("UNFINISHED_CSS_PROPERTY") | safe }}
</div>
<div class="error-msg MISSING_CSS_VALUE">
  {{ gettext("MISSING_CSS_VALUE") | safe }}
</div>
<div class="error-msg UNFINISHED_CSS_VALUE">
  {{ gettext("UNFINISHED_CSS_VALUE") | safe }}
</div>
<div class="error-msg CSS_MIXED_ACTIVECONTENT">
  {{ gettext("CSS_MIXED_ACTIVECONTENT") | safe }}
</div>
<div class="error-msg MISSING_CSS_BLOCK_OPENER">
  {{ gettext("MISSING_CSS_BLOCK_OPENER") | safe }}
</div>
<div class="error-msg MISSING_CSS_BLOCK_CLOSER">
  {{ gettext("MISSING_CSS_BLOCK_CLOSER") | safe }}
</div>
<div class="error-msg UNCAUGHT_CSS_PARSE_ERROR">
  {{ gettext("UNCAUGHT_CSS_PARSE_ERROR") | safe }}
</div>
<div class="error-msg UNTERMINATED_CSS_COMMENT">
  {{ gettext("UNTERMINATED_CSS_COMMENT") | safe }}
</div>
<div class="error-msg HTML_CODE_IN_CSS_BLOCK">
  {{ gettext("HTML_CODE_IN_CSS_BLOCK") | safe }}
</div>
