# Copy this file to .env or just set these environment variables

# The space-separated list of origins (https?://host[:port])
# that are permitted to create and authenticate users.
# Using the wildcard (*) means any domain can create and authenticate
# users. If * is used, no other domains should be listed.
export ALLOWED_DOMAINS="*"

# If you want to allow CORS access to the login front-end API, add them here
# (Space separated)
export ALLOWED_CORS_DOMAINS="http://localhost:8080"

# Authorisation for isAdmin route
export ALLOWED_USERS="testuser:password"

# hostname for the webmaker.org server, to link to things
export WEBMAKERORG="http://localhost:7777"

# Default link used in reset emails
export RESET_URL="http://localhost:7777/explore"

# domain for user profile page
export PROFILE=".makes.org"

# AWS credentials used for hatchet
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# hatchet configuration
HATCHET_APP_NAME=
HATCHET_QUEUE_REGION=
HATCHET_QUEUE_URL=

# Database config details for sequelize
# (sqlite)
export DB_DATABASE="local_webmakers"
export DBOPTIONS_DIALECT="sqlite"
export DBOPTIONS_STORAGE="loginusers.sqlite"
export DBOPTIONS_LOGGING=false
# (mysql)
# export DB_HOST=
# export DB_USERNAME="root"
# export DB_PASSWORD=""
# export DB_DATABASE="local_webmakers"
# export DBOPTIONS_PORT=3306
# export DBOPTIONS_DIALECT="mysql"
# export DBOPTIONS_STORAGE="loginusers.sqlite"
# export DBOPTIONS_LOGGING=false

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false

# Google Analytics info
export GA_ACCOUNT=""
export GA_DOMAIN=""

# Local name for the HTTPD
export APP_HOSTNAME="http://localhost:3000"

# What is our fully qualified login API acces point?
export LOGINAPI="http://testuser:password@localhost:3000"

# development or production
export NODE_ENV="development"

# Port for the HTTPD to listen on
export PORT=3000

# A Secret used to sign Session cookies.
export SESSION_SECRET='dummy secret value'

# statsd metrics collection. If the following are left empty, no stats
# will be collected or sent to a server. Only STATSD_HOST and STATSD_PORT
# are required. STATSD_PREFIX is an optional prefix for all stats (defaults
# to "development.login" or "production.login" if left blank).
export STATSD_HOST=
export STATSD_PORT=
export STATSD_PREFIX=

# i18n Language Support
export SUPPORTED_LANGS='[ "*" ]'
