/*********************************************************
* BUTTONS
*/

@_btnLineHeight: 14px;
@_btnTotalHeight: 35px; // It turns out that the total height of our buttons is 35px.

// Base
.thimble-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: @_btnTotalHeight - 2; //borders
  padding: 0 10px;
  border-radius: 2px;
  margin-bottom: 0;
  vertical-align: middle;
  border: 1px solid @baseLight;
  background: @baseLight;
  color: @baseText;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// Disabled states
.thimble-btn-slide-out {
  display: block;
  overflow: hidden;
  .thimble-btn {
    float: left;
    margin-right: 5px;
    .transition( all 0.2s ease-in );
  }
  .hidden{
    margin-top: -@_btnTotalHeight;
    float: left;
  }
}

// Active
.thimble-btn-active,
.thimble-btn-active:hover,
.thimble-btn:active {
  &.btn-light {
    background: darken( @baseLight, 15% );
    border-color: darken( @baseLight, 35% );
    box-shadow: inset 0 1px 0 darken( @baseLight, 22% );
    color: #000;
  }
  &.btn-green {
    background: darken( @green, 12% );
    border-color: darken( @green, 25% );
    box-shadow: 0 -1px 0 #FFF,
      inset 0 1px 1px 1px darken( @green, 15% );
  }
  >.icon {
    color: #555;
  }
  >.icon-white {
    color: #FFF;
  }
}


// Colors

.btn-white,
.btn-white.thimble-disabled:hover {
  background: #FFF;
  color: @baseText;
  border-radius: 0;
  border: 1px solid darken( @baseLight, 20% );
}
.btn-white:hover {
  color: #000;
}

.btn-light,
.btn-light.thimble-disabled:hover,
.btn-light.thimble-disabled:active {
  background: @baseLight;
  color: @baseText;
  border: 1px solid darken( @baseLight, 20% );
  border-top-color: darken( @baseLight, 15% );
  border-bottom-color: darken( @baseLight, 25% );
  box-shadow: inset 0 1px 0 lighten( @baseLight, 10% );
  .box-sizing( border-box );
}

.btn-light:hover {
  background: lighten( @baseLight, 2% );
  color: darken( @baseText, 10% );
}

.btn-green,
.btn-green.thimble-disabled:hover,
.btn-green.thimble-disabled:active {
  background: @green;
  color: #FFF;
  border: 1px solid darken( @green, 15% );
  border-top-color: darken( @green, 10% );
  border-bottom-color: darken( @green, 20% );
  box-shadow: inset 0 1px 0 lighten( @green, 10% );
}

.btn-green:hover {
    background: lighten( @green, 5% );
    color: #FFF;
  }

.btn-red,
.btn-red.thimble-disabled:hover,
.btn-red.thimble-disabled:active {
  background: #D3473C;
  color: #FFF;
  border: 1px solid #A32630;
  box-shadow: inset 0 1px 0 lighten( #D3473C, 10% );
}

.btn-red:hover {
  background: lighten( @red, 5% );
  color: #FFF;
}

// States
.thimble-btn.thimble-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


// Button group
.btn-group {
  display: inline-block;
  a, button {
    margin-left: -5px;
    border-right-width: 0;
  }
  .thimble-btn:first-of-type {
    margin-left: 0;
    border-radius: 2px 0 0 2px;
  }
  .thimble-btn:last-of-type {
    border-radius: 0 2px 2px 0;
    border-right-width: 1px;
  }
}

// Menu group
.thimble-btn-menu-container {
  z-index: 20;
  display: inline-block;
  position: relative;
  line-height: @_btnTotalHeight - 2; //borders
  .selectable( none );
}

.thimble-btn-menu-control {
  border: 1px solid @baseLightOutline;
  background: #FFF;
  border-radius: 0;
  line-height: 40px;
  padding: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  margin-right: 10px;
  .thimble-btn-menu-container:hover & {
    border-bottom-color: transparent;
    border-radius: 2px 2px 0 0;
    >.icon {
      color: #555;
    }
  }
}

.thimble-btn-menu {
  border: 1px solid @baseLightOutline;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  border-radius: 0 2px 2px 2px;
  left: 0;
  background: #FFF;

  //States
  visibility: hidden;
  .thimble-btn-menu-container:hover & {
    visibility: visible;
  }

  // Each menu item
  > li {
    white-space: nowrap;
    border-bottom: 1px solid @baseLightOutline;
    &:last-child {
      border-bottom: none;
    }
  }
  .icon {
    font-size: 16px;
    display: inline-block;
    width: 20px;
  }
  // The link inside the menu item
  > li > a,
  > li > a.thimble-disabled,
  > li > a.thimble-disabled:hover,
  > li > a.thimble-disabled:active {
    color: @baseText;
    padding: 0 15px;
    min-width: 80px;
    border: none;
    display: block;
    text-decoration: none;
    line-height: 40px;
  }
  > li > a:hover {
    background: lighten( @baseLight, 2% );
    color: #000;
  }
}

/*********************************************************
* Media Icons
*/

.media-icon {
  position: relative;
  display: block;
  float: left;
  margin-right: 5px;
  background: url( "../resources/icons/media-icons.png" ) no-repeat;
  height: 16px;
  width: 16px;
  &.html5-icon {
    background-position: 0 0;
  }
  &.youtube-icon {
    background-position: -16px 0;
  }
  &.vimeo-icon {
    background-position: -32px 0;
  }
  &.soundcloud-icon {
    background-position: -48px 0;
  }
}

/*********************************************************
* Custom icons
*/

a .icon {
  text-decoration: none;
}

.close-btn {
  color: #555;
}

.icon-close:before,
.icon-x:before,
.attribution-close:before {
  content: "\f00d";
  font-size: 10px;
  vertical-align: top;
}

/*********************************************************
* SELECTS
*/

.ui-select-menu ul &>li:hover,.ui-select-menu ul &>li[data-selected] {
  color: #4d4e53;
  background: #e3eaee;
}
#lang-picker:hover {
  border-color: #CCC;
}
#lang-picker {
  margin: -7px 15px 0 0;
  border-color: transparent;
  padding: 10px;
  margin: 0;
  & > .icon::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f0d7";
  }
  ul {
    background: white;
    display: inline-block;
    li {
      display: block;
      padding: 10px;
    }
  }
  & > .icon:hover {
    background: none;
    color: #555;
  }
  & > .icon {
    background: none;
    color: #555;
    padding: 0 10px 0 0;
  }
  .ui-select-menu {
    width: auto;
    border-color: #CCC;
    ul {
      width: auto;
    }
  }
  .ui-smedium {
    width: auto;
  }
  .ui-selected::before {
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    margin-right: 5px;
  }
}
li.lang-picker:first-child {
  border-right: none;
}
.ui-selected {
  display: inline-block;
}
.ui-select-menu {
  display: none;
  position: absolute;
  left: -1px;
  border: 1px solid #dddddd;
  z-index: 100;
  top: 100%;
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    & > li {
      color: #999aa0;
      padding: 0 1em;
      background: #FFF;
      border-bottom: 1px solid #dddddd;
    }
    & > li:last-child {
      border-bottom: none;
    }
  }
}
.ui-select-menu:hover {
  border-color: #27aae1;
}
.ui-select {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  border: 1px solid #dddddd;
}

