/*********************************************************
 * MIXINS
 */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.hide {
  display: none;
}
/*********************************************************
 * MAKE DETAILS
 */
body {
  color: #555;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #27aae1;
  text-decoration: none;
}
a:hover {
  color: #056c97;
}
.content {
  display: block;
  margin: 0 auto;
  position: relative;
}
.wrapper {
  width: 1020px;
  margin: 0 auto;
  position: relative;
}
.make-bar {
  background: #e3eaee;
  height: 37px;
  border-bottom: 1px solid white;
  padding: 0;
  width: 100%;
  z-index: 5;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.make-bar .make-social {
  margin: 0 auto;
  display: inline-block;
}
.make-bar .make-social ul {
  margin: 0;
  padding: 0;
}
.make-bar .make-social ul a {
  color: white;
}
.make-bar .make-social:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.make-bar .button {
  color: white;
  background: #27aae1;
  list-style: none;
  float: right;
  font-size: 13px;
  height: 25px;
  width: 60px;
  text-align: center;
  margin-top: 7px;
  margin-left: 5px;
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.make-bar .button:hover {
  background: #4abff0;
}
.make-bar .logospan {
  width: 180px;
  height: 35px;
}
.make-bar .logospan img {
  margin-top: 2px;
  height: 35px;
}
.make-bar .logospan .made-with {
  font-size: 13px;
  color: #787878;
  position: relative;
  display: inline-block;
  left: 5px;
  bottom: 13px;
}
.make-bar .expand-collapse {
  cursor: pointer;
  color: #27aae1;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  vertical-align: top;
  font-size: 18px;
  padding-top: 6px;
  display: inline-block;
}
.make-bar .expand-collapse:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.make-bar .expand-collapse .toggle-ec {
  width: 100%;
}
.make-bar .expand-collapse img {
  padding-bottom: 2px;
}
.make-bar .make-social {
  float: right;
  margin: 0 9px;
  vertical-align: top;
  display: inline-block;
}
.make-bar .make-social:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.make-details {
  height: 335px;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  background-image: url("../img/bkg-stripe.png");
}
.make-details .wrapper {
  margin-bottom: 60px;
  padding-top: 30px;
}
.make-details .remixed-user {
  font-weight: 500;
}
.make-details .remixed-from {
  width: 270px;
  margin-top: 10px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.make-details .remixed-from .remix-info {
  width: 210px;
  position: relative;
  background: #e3eaee;
  padding-bottom: 6px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 13px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.make-details .remixed-from .remix-info .remixed-from-txt,
.make-details .remixed-from .remix-info .remixed-user {
  display: inline-block;
  position: relative;
  bottom: 4px;
}
.make-details .remixed-from .remix-info .remixed-from-txt {
  color: #787878;
}
.make-details .remixed-from .remix-info .remixed-user {
  color: #484848;
}
.make-details .remixed-from .remix-info .original-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
}
.make-details .remixed-from .remixed-by {
  color: #787878;
  padding-left: 10px;
  width: 210px;
  margin-top: 15px;
}
.make-details .remixed-from .remixed-by ul {
  list-style: none;
  display: inline;
  padding: 0;
}
.make-details .remixed-from .remixed-by ul li {
  display: inline;
}
.make-details .remixed-from .remixed-by ul li a {
  text-decoration: underline;
}
.make-details .remixed-from .remixed-by ul li:not(:last-child):after {
  content: ', ';
}
.make-details .make-details-deets {
  width: 750px;
  float: right;
  font-size: 14px;
}
.make-details .make-details-deets .make-title {
  color: #55575c;
  font-size: 29px;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.make-details .make-details-deets .make-desc {
  color: #4c4c4c;
  margin: 0;
  height: 110px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 22px;
}
.make-details .make-details-deets .make-tools-languages .built-with,
.make-details .make-details-deets .make-tools-languages .languages {
  color: #787878;
  display: inline-block;
  height: 20px;
  padding: 2px 5px;
  background: #e3eaee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.make-details .make-details-deets .make-tools-languages .built-with {
  margin-right: 15px;
}
.make-details .make-details-deets .make-tools-languages .tool-name {
  margin-left: 5px;
}
.make-details .make-details-deets .make-tools-languages .languages {
  margin-left: 30px;
}
.make-details .make-details-deets .make-tools-languages img {
  position: relative;
  top: 6px;
}
.make-details .make-details-deets .make-tools-languages .languages {
  margin-right: 10px;
}
.make-details .make-details-deets .make-tools-languages .langs {
  list-style: none;
  display: inline;
  padding: 0;
}
.make-details .make-details-deets .make-tools-languages .langs li {
  display: inline;
  color: #787878;
}
.make-details .make-details-deets .make-tools-languages .langs li:not(:last-child):after {
  content: ' | ';
  color: #9b9b9b;
  font-size: 13px;
  padding: 0 5px;
}
.make-details .make-details-deets .make-made-by {
  position: relative;
  margin-top: 5px;
}
.make-details .make-details-deets .make-made-by .made-by {
  display: inline;
  color: #787878;
  font-size: 18px;
  margin-left: 3px;
  position: relative;
  bottom: 10px;
}
.make-details .make-details-deets .make-made-by .make-relative-date {
  color: #787878;
  margin-left: 10px;
  font-size: 14px;
}
.make-details .make-details-deets .make-made-by img {
  -webkit-border-radius: 50em;
  border-radius: 50em;
  border: 1px solid #b5b5b5;
}
.make-img {
  z-index: -2;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1020px;
}
.button-remix,
.button-share {
  background-repeat: no-repeat;
  display: block;
  margin-left: 5px;
  margin-top: 2px;
}
.button-remix span,
.button-share span {
  position: relative;
  bottom: 2px;
  left: 5px;
}
.button-remix {
  background-image: url(../img/icon-Remix.png);
}
.button-share {
  background-image: url(../img/icon-Share.png);
}

.hidden {
  display: none;
}
