/*********************************************************
* Webmaker nav
*/
#webmaker-nav {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  width: 100%;
}
.webmaker-nav-container {
  height: 29px;
  background: #3a3c3c;
  border-bottom: 1px solid #2d2f2f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.webmaker-nav {
  height: 29px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 29px;
  font-size: 1em;
  color: #FFF;
}
.webmaker-nav > li > a {
  display: block;
  height: 100%;
  background: #3a3c3c;
  padding: 0 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
}
.webmaker-nav > li > a:hover {
  color: #FFF;
}
/*********************************************************
* Primary menu
*/
.primary {
  float: left;
}
.primary > li {
  border-right: 1px solid #474949;
  border-left: 1px solid #2d2f2f;
  float: left;
}
.primary > li:last-child {
  border-right-color: transparent;
}
.primary > li a:hover {
  background: #3f4141;
}
/*********************************************************
* User/Login Styles
*/
.user-info {
  float: right;
  text-align: right;
}
.user {
  line-height: 29px;
  margin-right: 20px;
}
.user-info > li {
  float: left;
  border-right: none;
  height: 100%;
}
.webmaker-create-user {
  display: none;
  padding: 2em 1em;
  background: #F4F5F5;
  border-bottom: 1px solid #DDD;
  color: #555;
  text-align: center;
}
.webmaker-create-user > form {
  display: inline-block;
  text-align: left;
}
/*********************************************************
* Helpers
*/
.webmaker-create-user .row {
  margin: 1em 0;
}
.webmaker-create-user .inline {
  display: inline-block;
}
.webmaker-create-user .visually-hidden {
  display: block;
  height: 1px;
  overflow: hidden;
  left: -99999em;
}
/*********************************************************
* Title
*/
.webmaker-create-user legend {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}
/*********************************************************
* Display subdomain
*/
.display-subdomain-container {
  font-size: 1.5em;
}
.display-subdomain-container,
.display-subdomain-input {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.display-subdomain-input {
  font-size: 1em;
  padding: 0.5em;
  width: 16em;
  border: 1px solid #3FB58E;
  border-radius: 2px;
  color: #3FB58E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.display-subdomain-input:focus {
  outline: none;
  box-shadow: 0 2px 3px -3px #3fb58e;
}
/*********************************************************
* Buttons, iframe
*/
.create-user-submit {
  color: #FFF;
  border: 1px solid #519369;
  background: #3FB58E;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 2px;
}
.create-user-submit:hover {
  background: #79b790;
}
#SSO {
  height: 30px;
  width: 115px;
  background: transparent;
  color: #fff;
  border: none;
  margin-top: 3px;
}
