@bower-path: "../../bower_components";

// Makerstrap things --
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
// Makerstrap itself
@makerstrap-bower-path: "../../../bower_components";
@import "../../bower_components/makerstrap/less/makerstrap.less";

// For webmaker-language-picker/styles/... dependencies:
@base-location: "../../..";
@colors-path: "@{base-location}/public/stylesheets";
@language-bower-path: "@{base-location}/bower_components";

// For other webmaker-xxx dependencies:
@import "@{bower-path}/webmaker-login-ux/src/less/webmakerLogin";
@import "@{bower-path}/webmaker-language-picker/styles/languages";

#webmaker-nav .navbar {
  border-bottom: 1px solid #D3D3D3;
}

#webmaker-source-code-pane {
  border-right: 1px solid #D6D6D6;
}

#webmaker-preview-holder-pane {
  border: 0;
}

.navbar-collapse {
    position: relative;
}

.nav>li>.navbar-user-info {
    height: auto;
    padding: 7px;
    line-height: inherit;
}

.navbar-nav {
    margin: 0 5px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -1px;
}

.navbar-webmaker {
    .navbar-form {
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .dropdown-toggle {
        border: 1px solid #CCC;
        padding: 10px;
        margin-top: 10px;
    }
    .dropdown-menu {
        background: #FFF;
        border: 1px solid #CCC;
    }
    .navbar-button {
        padding: 10px 14px;
    }
    .logout-button {
      cursor: pointer;
    }
}

.icon-globe {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {content: "\f0ac";}
}

a#current-language {
  color: #000;
  text-decoration: none;
}

// XXXNew Thimble - I stuffed this in here to ensure it would be the
// last styling loaded

.has-notice {
    .tutorial-view, #bare-fc-holder {
        top: 129px;
    }
}

.new-thimble-notice {
    background: #22995F;
    color: rgba(255,255,255,.8);
    padding: 10px 15px 10px 40px;
    position: relative;
    font-family: "Open Sans";
    font-size: 13px;

    strong {
        color: rgba(255,255,255,1);
        margin-right: 4px;
    }

    .dismiss-notice {
        display: block;
        position: absolute;
        left: 7px;
        top: 4px;
        background: ~"url(/img/white-x.svg)";
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .7;
        border: none;

        &:hover {
            opacity: 1;
        }
    }

    .try-thimble {
        color: white;
    }
}
