<!DOCTYPE html>
<html>
  <head>
    <title>Thimble Project Tutorial</title>
    <link rel="stylesheet" type="text/css" href="{{ appURL }}/tutorial/tutorial.css">
  </head>

  <body>
    <div class="tutorial">
      <h1>Project Tutorial</h1>
      <p>
        Edit this tutorial to provide step-by-step instructions to people remixing your project, including those who might be doing it on their own (without a mentor/facilitator/teacher). They will be able to toggle between the Preview pane and this Tutorial. Replace this section with an overview or some background about your project.
      </p>
      <p>
        Check out the <a href="{{ appURL }}/tutorial/tutorial-style-guide.html" target="_blank">style guide</a> for HTML elements you can include.
      </p>

      <h3>Step-by-Step Instructions</h3>
      <ol class="steps">
        <li>
          Add your first step here.
        </li>
        <li>
          Add your second step here.
        </li>
        <li>
          Add your third step here, and add more steps if needed.
        </li>
        <li>
          Add a note of congratulations for completing the project and remixing the Web! Note any specific instructions for where to share the completed project if appropriate (e.g. Twitter hashtag, email to teacher, etc.)
        </li>
      </ol>
    </div>
  </body>
</html>
