{% block bramble %}
    <style>
        /*
        * Initial loading spinner css, inlined so we don't block loading.
        * Spinner is based on https://github.com/tobiasahlin/SpinKit (MIT)
        */
        #spinner-container {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 999;
            background: #0b4326;
            opacity: .9;
        }

        #spinner-container .message {
            top: calc(50% + 40px);
            width: 100%;
            position: fixed;
            text-align: center;
            color: white;
            opacity: .6;
        }

        #spinner-container .error-message {
            display: none;
        }

        #spinner-container.loading-error .error-message {
            display: block;
        }

        #spinner-container .loading-message {
            animation: loadingpulse 1s infinite linear;
            -webkit-animation: loadingpulse 1s infinite linear;
        }

        #spinner-container a {
            color: white;
            text-decoration: underline;
        }

        #spinner-container .thimble-spinner {
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: fixed;
            max-width: 50%;
            width: 50px;
            height: 50px;
            background: url(/img/thimble-icon.svg);
            background-position: center;
            background-size: 100%;
            animation: spinner 2s infinite ease-in-out;
            outline: 1px solid transparent;
        }

        #spinner-container.loading-error {
            background: black;
        }

        #spinner-container.loading-error .loading-message {
            display: none;
        }

        #spinner-container.loading-error .thimble-spinner {
            animation: none;
        }
        
        #spinner-container .loading-message-help-link {
            animation: none;
            -webkit-animation: none;
        }

        @keyframes loadingpulse {
            0% {
                transform: scale(1);
                opacity: .4;
            }
            50% {
                transform: scale(1.02);
                opacity: .6;
            }
            100% {
                transform: scale(1);
                opacity: .4;
            }
        }

        @-webkit-keyframes loadingpulse {
            0% {
                -webkit-transform: scale(1);
                opacity: .4;
            }
            50% {
                -webkit-transform: scale(1.02);
                opacity: .6;
            }
            100% {
                -webkit-transform: scale(1);
                opacity: .4;
            }
        }

        @keyframes spinner {
            0% {
                transform: rotateX(0deg) rotateY(0deg);
            }
            25% {
                transform: rotateX(-180.1deg) rotateY(0deg);
            }
            50% {
                transform: rotateX(-180deg) rotateY(-179.9deg);
            }
            75% {
                transform: rotateX(-360deg) rotateY(-179.9deg);
            }
            100% {
                transform: rotateX(-360deg) rotateY(-360deg);
            }
        }

        </style>

    <div id="spinner-container">
        <div class="thimble-spinner"></div>
        <div class="loading-message message">{{ gettext("loadingProject") }}</div>
        <div class="error-message message">
            <p>{{ gettext("errorLoadingProject") | safe }}</p>
            <p>{{ gettext("errorLoadingProjectBramble") }}</p>
            <p>{{ gettext("errorLoadingProjectSuggestion") }}</p>
        </div>
    </div>

    <div id="browser-support-warning" class="hide">
      <div class="message-box">
        <h1>{{ gettext("errorUnsupportedBrowser") }}</h1>
        <p>
          {{ gettext("errorUnsupportedBrowserSuggestion") | instantiate | safe }}
        </p>
        <div title="{{ gettext("errorUnsupportedBrowserIgnoreTitle") }}" class="let-me-in">{{ gettext("errorUnsupportedBrowserIgnore") }}</div>
      </div>
    </div>

    <div class="bramble-toolbar">
        {% include './nav-options.html' %}
    </div>
    <div id="webmaker-bramble"></div>
    <script src="{{ editorHOST }}/dist/bramble.js"></script>
    <script id="thimble-script"
            src="/scripts/vendor/require.min.js"
            data-main="/{{ localeDir }}/editor/scripts/main.js"
            data-project-details="{{ projectMetadata }}"
            data-editor-host="{{ editorHOST }}"
            data-editor-url="{{ editorURL }}"
            data-app-url="{{ appURL }}/{{ locale }}">
    </script>
{% endblock %}
