{% block glitchnotice %}
  <link rel="stylesheet" href="/resources/stylesheets/glitch.css">

  <div class="glitch glitch-banner container-flex hidden">
    <div class="glitch-banner-content" class="container-flex">
      {% if glitch_migrated %}
      <span class="notice">
        <i class="glitch-logo"></i><span class="notice-text">{{ gettext("glitchProjectMigratedChanges") }}</span>
      </span>
      {% else %}
      <span class="notice">
        <i class="glitch-logo"></i><span class="notice-text">{{ gettext("areYouReady") }}</span>
      </span>

      <button class="btn export-button">
        <i class="export-icon"></i><span class="label">{{ gettext("exportToGlitch") }}</span>
      </button>
      {% endif %}
    </div>
  </div>

  <div class="editor glitch glitch-cta underlay hidden">
    <div class="glitch-cta content">
        <img class="cta-close" src="/img/clear.svg" tabindex="0">
        <i class="glitch-logo"></i>

        <div class="normal">
            <h1>{{ gettext("beforeYouStart") | safe }}</h1>
            <ul>
                <li>{{ gettext("glitchPoint1") }}</li>
                <li>{{ gettext("glitchPoint2v2") | safe }}</li>
                <li>{{ gettext("glitchPoint3") }}</li>
                <li>{{ gettext("glitchPoint4") }}</li>
                <li>{{ gettext("glitchPoint5") }}</li>
            </ul>
        </div>

        <div class="error hidden">
            <h1>{{ gettext("exportOops") }}</h1>
            <p>{{ gettext("retryOrMail2") | instantiate | safe }}</p>
        </div>

        <div>
            <button class="btn export-button published{% if not project.publishUrl %} hidden{% endif %}">
                <i class="export-icon"></i><span class="label">{{ gettext("exportPublished") }}</span>
            </button>
            <button class="btn export-button unpublished{% if not project.publishUrl %} hidden{% endif %}">
                <i class="export-icon"></i><span class="label">{{ gettext("exportUnpublished") }}</span>
            </button>
            <button class="btn export-button start{% if project.publishUrl %} hidden{% endif %}">
                <i class="export-icon"></i><span class="label">{{ gettext("startExportingProject") }}</span>
            </button>
            <a target="_blank" class="exported-link hidden">
                <button class="btn export-button export-link-button">
                    <i class="export-glitch-icon"></i><span class="label">{{ gettext("glitchTakeMeToProject") }}</span>
                </button>
            </a>
        </div>

        <p><a class="privacy-policy" href="https://glitch.com/legal/#privacy">{{ gettext("readPP") }}</a></p>
    </div>
</div>
{% endblock %}
