<!DOCTYPE html>
<html lang="{{localeInfo.lang}}" dir="{{localeInfo.direction}}">
  <head>
    <meta charset="utf-8">
    {{ newrelic.getBrowserTimingHeader() | safe }}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="persona-email" content="{{email}}">
    <meta name="thimble-operation" content="{{pageOperation}}">
    <meta name="thimble-project-origin" content="{{origin}}">
    <meta name="csrf-token" content="{{csrf}}">
    <base target="_blank">
    <title>{{ gettext("Mozilla Thimble") }}</title>

    <link rel="stylesheet" href="/editor/stylesheets/normalize.css">
    <link rel="stylesheet" href="/editor/stylesheets/editor.css">
    <link rel="stylesheet" href="/resources/stylesheets/userbar.css">
    <link rel="stylesheet" href="/editor/stylesheets/projects-style.css">
    <link rel="stylesheet" href="/editor/stylesheets/publish.css">

    {% if GA_ACCOUNT %}
    <script id="google-analytics-js" src="/scripts/google-analytics.js"
            data-ga-account="{{ GA_ACCOUNT }}"
            data-ga-domain="{{ GA_DOMAIN }}"
            async>
    </script>
    {% endif %}
  </head>
  <body data-make-url="{{ makeUrl }}" data-make-endpoint="{{ MAKE_ENDPOINT }}">
    {% block body %}{% endblock %}
  </body>
</html>
