{% extends "./layout.html" %}

{% block head %}
  <link rel="stylesheet" href="/editor/stylesheets/projects-style.css">
  <link rel="stylesheet" href="/homepage/stylesheets/style.css">
{% endblock %}

{% block body %}

  {% include '../homepage/userbar.html' %}

  <div class="project-list-wrapper">
    <div id="container">
      <h2>Your Projects</h2>

      <a href="/projects/new" id="project-0">
        <div title="Start a new project from scratch" class="project-button">Create a new Project</div>
      </a>

      <table id="project-list" data-username="{{ username }}">

      {% for project in projects %}
        <tr class="project bramble-user-project"
            id="{{ [ 'project', project.id ] | join('-') }}"
        {% for key, value in project %}
          {{ [ "data", "project", key ] | join("-") }}="{{ value }}"
        {% endfor %}
        >
          <td class="project-title">
            {{ project.title }}
            <span class="project-information"></span>
          </td>
          <td>
            <div class="project-delete" title="Delete this Project">
              <div class="icon-garbage-can">
                <div class="icon-garbage-lid"></div>
              </div>
              Delete
            </div>
          </td>
        </tr>
      {% endfor %}

      </table>

    <script src="/scripts/vendor/require.min.js"
            data-main="/editor/scripts/project-list.js">
    </script>
    <div class="project-list-scroll"></div>
  </div>
{% endblock %}
