{% block publishdialog %}
<div id="publish-ssooverride" class="hide"
     data-loginUrl="{{ loginURL }}"
     data-oauth-username="{{ username }}"
     data-oauth-avatar="{{ avatar }}">
</div>
<div id="publish-dialog" class="hide">
  <div id="publish-title">
    {{ gettext("publishHeader") }}
  </div>

  <div id="publish-live" class="hide">
    <div>{{ gettext("publishShareLink") }}</div>
    <div id="publish-link">
      <a id="link-publish-link" title="{{ gettext("publishShareLinkTitle") }}" href="test"></a>
    </div>

    <div id="publish-changes" class="hide">
      <div>{{ gettext("publishChangesPrompt") }}</div>
      <div id="publish-button-update">{{ gettext("publishChangesBtn") }}</div>
    </div>
    <div id="publish-button-unpublish">
      <svg height="16" width="16" id="unpublish-icon">
        <circle cx="8" cy="8" r="8" fill="white" />
        <line x1="11" y1="8" x2="5" y2="8" stroke="#B0B0B0" strokeWeight="1" />
      </svg>
      <span>{{ gettext("publishUnpublishBtn") }}</span>
    </div>
  </div>

  <div id="publish-details">
    <label>{{ gettext("publishProjectDescription") }}</label>
    <textarea class="publish-description" placeholder="{{ gettext("publishProjectDescriptionPlaceholder") }}"></textarea>
  </div>

  <div id="publish-buttons">
    <div id="publish-button-publish">{{ gettext("publishBtn") }}</div>
    <div id="publish-button-cancel">{{ gettext("publishCancelBtn") }}</div>
  </div>
</div>
{% endblock %}
