{% block publishdialog %}
<div id="publish-ssooverride" class="hide"
     data-loginUrl="{{ loginURL }}"
     data-oauth-username="{{ username }}"
     data-oauth-avatar="{{ avatar }}">
</div>
<div id="publish-dialog" class="hide">
  <div id="publish-title">
    Publish your Project
  </div>

  <div id="publish-live" class="hide">
    <div>Here's a link you can share...</div>
    <div id="publish-link">
      <a title="Your published project" href="test"></a>
    </div>

    <div id="publish-changes" class="hide">
      <div>You've made changes since you last published this project.</div>
      <div id="publish-button-update">Update published version</div>
    </div>
    <div id="publish-button-unpublish">
      <svg height="16" width="16" id="unpublish-icon">
        <circle cx="8" cy="8" r="8" fill="white" />
        <line x1="11" y1="8" x2="5" y2="8" stroke="#B0B0B0" strokeWeight="1" />
      </svg>
      <span>Unpublish</span>
    </div>
  </div>

  <div id="publish-details">
    <label>Project Description</label>
    <textarea class="publish-description" placeholder="What is your project about?"></textarea>
  </div>

  <div id="publish-buttons">
    <div id="publish-button-publish">Publish</div>
    <div id="publish-button-cancel">Cancel</div>
  </div>
</div>
{% endblock %}
