{% block userbar %}
  <!-- webmaker user bar -->
  <nav class="navbar-thimble container-flex">

    <div id="navbar-left" class="container-flex">
      <div class="navbar-logo-container">
        <a href="/{{localeInfo.lang}}" class="logo">
          <img src="/img/thimble-icon.svg" class="thimble-logo">
        </a>
      </div>
      <div title="Rename your Project" id="navbar-project-title" class="shadow">
        <span id="project-rename-save">Save</span>
        <span id="navbar-rename-project">
          <img src="/img/icon/edit.svg" class="icon-edit">
        </span>
      </div>
      <div id="navbar-save-indicator" class="hide">
        Saving...
      </div>
    </div>

    <div id="navbar-right" class="container-flex">
      <div title="Visit the Help site" id="navbar-help">
        <img src="/img/icon/question-mark.svg" class="icon-question-mark">
        Help
      </div>
      <div id="navbar-login" {% if username %}class="signed-in"{% endif %}>
        <div id="navbar-login-inner">
        {% if username %}
          <ul id="navbar-logged-in">
            <li>
              <img class="avatar" src="{{avatar}}">
              <span>Hi, {{username}}</span>
              <img class="icon-arrow-down" src="/img/icon/dropdown-arrow.svg">

              <ul class="dropdown">
                <li>
                  <a id="new-project-link" class="dropdown-link">
                    <img src="/img/icon/new-project.svg" class="dropdown-icon">
                    New Project
                  </a>
                </li>
                <li>
                  <a href="/projects/{{ queryString }}" class="dropdown-link" target="_self">
                    <img src="/img/icon/your-projects.svg" class="dropdown-icon">
                    Your Projects
                  </a>
                </li>
                <li>
                  <a href="#" id="export-project-zip" class="dropdown-link" target="_self">
                    <!--TODO: change this icon-->
                    <img src="/img/icon/download-cloud.svg" class="dropdown-icon">
                    Export (.zip)
                  </a>
                </li>
                <li>
                  <a href="{{ logoutURL }}" id="logout-link" class="dropdown-link" target="_self">
                    <img src="/img/icon/sign-out.svg" class="dropdown-icon">
                    Sign Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        {% else %}
          <div id="navbar-anonymous">
            <a href="#" title="Log in to Thimble" id="login-link" class="navbar-login">Log in</a> or <a href="#" title="Create an account" id="signup-link" class="navbar-login">Sign Up</a> to Save and
          </div>
        {% endif %}
        </div>
      </div>
      <div id="navbar-publish">
        <div title="Publish and share your Project" id="navbar-publish-button">
          <img src="/img/icon/publish.svg" class="icon-publish">
          Publish
        </div>
      </div>
    </div>

  </nav>
{% endblock %}
