{% block glitchnotice %}
  <link rel="stylesheet" href="/resources/stylesheets/glitch.css">

  <div class="glitch glitch-banner project-list container-flex hidden">
    <div  class="glitch-banner-content" class="container-flex">
      <span class="notice">
        <i class="glitch-logo"></i>{{ gettext("dontForgetNotice") | instantiate | safe}}
      </span>

      <a class="more-info" href="{{ glitch.moreInfoURL }}" target="_blank">{{ gettext("readAboutMoving") }}</a>
    </div>
  </div>
{% endblock %}
