##
# Config for publish.webmaker.org server
##

# Development or Production
export NODE_ENV="development"

# Database
export DATABASE_URL=postgres:///publish

# Port to use to run the server
export API_HOST=0.0.0.0
export PORT=2015

# comma-separated list of clients that may publish to http://
export HTTP_CLIENTS="X-Ray Goggles"

# S3 publish/unpublish
# (enter your own info plz)
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_BUCKET=""

# S3 emulation
export S3_EMULATION=true

# Endpoint for published projects
export PUBLIC_PROJECT_ENDPOINT="localhost:8001"

# Endpoint for the remix script
# The remix script is responsible for pulling in all other
# resources required for remix
export REMIX_SCRIPT="http://localhost:3500/resources/remix/index.js"

# Log Level, options are: fatal, error, warn, info, debug, trace.
# Use debug for useful debug info, or error if you only want to see
# exception/crash stacks.
export LOG_LEVEL="info"

# Location of the webmaker identity provider server (id.webmaker.org)
# Note: Make sure to include the uri protocol in the connection string
export ID_SERVER_CONNECTION_STRING="http://localhost:1234"

# File size upload limit (defaults to 5mb in bytes)
export FILE_SIZE_LIMIT=5242880

## NewRelic Configuration
## See https://docs.newrelic.com/docs/agents/nodejs-agent/installation-configuration/nodejs-agent-configuration
export NEW_RELIC_ENABLED=false
export NEW_RELIC_NO_CONFIG_FILE=true
export NEW_RELIC_HOME='./node_modules/newrelic'
export NEW_RELIC_LICENSE_KEY=newrelic license key
export NEW_RELIC_APP_NAME=publish.webmaker.org
export NEW_RELIC_CAPTURE_PARAMS=true
export NEW_RELIC_LOG_LEVEL=info
export NEW_RELIC_BROWSER_MONITOR_ENABLE=false
