@headerHeight: 60px;
@toolbarHeight: 65px;

.friendlycode-base {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  background-color: #F5F5F5;
  color: #414244;
}

#webmaker-bramble {
    width: 100%;
    height: 100%;
    border: 0;
}

.friendlycode-base img {
  border: 0 none;
}

.friendlycode-toolbar {
  position: absolute;
  z-index: 2;
  top: @headerHeight;

  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
-webkit-box-shadow: 0px 9px 7px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 9px 7px -5px rgba(0,0,0,0.75);
box-shadow: 0px 9px 7px -5px rgba(0,0,0,0.75);
}

.nav-options {
  font-size: 12px;

  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 0;
}

.editor-pane-nav-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 2;
  height: @toolbarHeight;
  background-color: #3F3F3F;
}

.editor-pane-nav-title {
  color: #9D9D9D;
  font-weight: bold;
  font-size: 1em;
  line-height: 65px;
}

.preview-pane-nav-options {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: @toolbarHeight;
  z-index: 2;
  background-color: white;
}




.nav-options .nav-item {
  display: table-cell;
  height: 41px;
  text-align: center;
  vertical-align: middle;
  color: gray;
  padding: 0 5px;
  padding-right: 2em;
  white-space: nowrap;
  cursor: default;
  font-size: 14px;
  opacity: 0.33;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-options .preview-nav-item {
  display: block!important;
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  line-height: 40px;
  text-overflow: ellipsis;
  text-align: left!important;
  //background: fade(red, 30%);
  .wm-button {
    margin-top: -5px;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.nav-options .nav-item.enabled {
  cursor: pointer;
  opacity: 1.0;
}

.nav-options .nav-item.enabled:hover {
  color: #3D59FE;
}

.nav-options .nav-item ul li {
  color: #666;
}

.nav-options .nav-item ul li:hover {
  color: #666;
}

.preview-pane-nav-options > div.nav-item.buttons {
  cursor: default;
  opacity: 1.0;
}

.nav-options .nav-item.buttons {
  position: absolute;
  top: 5px;
  right: 0;
}

/* ------ CONTENT AREA ------ */

.friendlycode-panes {
  position: absolute;
  top: (@headerHeight + @toolbarHeight) - 10;
  left: 0;
  right: 0;
  bottom: 0;    /* corresponds to 20 + footer.height */
}

div.editor-actions {
  visibility: visible;
  position: absolute;
  right: 20px;
  top: 20px;
}

.source-code {
  background-color: #F9F9F9;
  z-index: 1;
}

.source-code {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  top: 10px;
}

.tipsy.friendlycode-base {
  /* Make tipsy tooltips slightly larger than the default. */
  font-size: 12px;
}

.source-code .CodeMirror {
  height:100%;
  overflow:hidden;
}

.source-code .CodeMirror-scroll {
  height: 100%;
  overflow: auto;
}

.preview-pane-nav-options fieldset {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
}

.preview-pane-nav-options fieldset {
  font-size: 80%;
}

.nav-options .hide-run-js {
  display: none;
}
