@charset "UTF-8";
/* CSS Document */
.content {
  margin-left: auto;
	margin-right: auto;  
}
  
#logo {
  background-image: url('banner.png');
  background-repeat: no-repeat;
  height: 73px;
  width: 420px;
}
#logo p {
  font-family: "Press Start 2P";
  font-size: 16px;
  color: #fff;
  left: 77px;
  position: relative;
  top: 18px;  
}
#notes {
  position: absolute;
}

#notes p {
  font-family: "Sue Ellen Francisco"; 
  font-size: 24px;
  color: white;
  position: relative;
  left: 385px;
}

.red {
  color: red;
}

#island01 {
  background-image: url('island1.png');
  background-repeat: no-repeat;
  width: 296px;
  height: 395px;
  margin: 90px 70px 0px 70px;
  float: left;
}

#island01 img.forest {
  margin: 20px 20px 20px 50px;
}

#island01 img.mountains {
  margin: 110px 20px 20px 155px;
}

#island01 h3{
	 color: #333333;
  font-family: helvetica;
  font-size: 14px;
  left: -50px;
  position: relative;
  top: 85px;
}

#island02 {
  background-image: url('island2.png');
  background-repeat: no-repeat;
  width: 558px;
  height: 705px;
  float: right;
  position: relative;
  top: -50px;
}

h3.famous, h3.rainbow, h3.kitty {
  color: #333333;
  font-family: helvetica;
  font-size: 14px;
}

h3.kitty {
  left: -66px;
  position: relative;
  top: 160px;  
}

h3.famous {
  left: -75px;
  position: relative;
  top: 450px;  
}

h3.rainbow {
  left: -40px;
  position: relative;
  top: 320px;  
}

#island02 img {
  margin-top: 80px;
}

#island01 img, #island02 img {
  position: relative;
  float: left;
}

#island02 img.forest {
  top: 505px;
  left: 105px;
}

#island02 img.famous {
  top: 360px;
  left: -70px;  
}

#island02 img.rainbow {
  left: -55px;
  top: 230px;
}

#island02 img.forest2{
  top: 390px;
	left: 345px;
}
#island02 img.mountains {
  top: 250px;
  left: 45px;
}

.tower {
  left: -134px;
  top: 10px;
}
.tower02{
  left: -205px;
  top: 50px;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #333;  
}