{% extends "./base.html" %}

{% block top %}
  <div class="page-heading">
    <div class="content-wrapper">
      <h1>Awesome features make learning<br/> <em>and</em> teaching coding easy &amp; fun</h1>
      <!-- <p>Thimble is packed iwth dope features to make coding fun, easy and cool!<p> -->
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="page-content">
    <div class="content-wrapper">

      <div class="feature-list">
        <div class="feature">
          <img class="feature-image" src="/img/features/live-preview.gif"></img>
          <h2 class="feature-name">Live Preview</h2>
          <p class="feature-description">
            See your changes instantly as you edit your project files. There's no need to refresh
            the preview. Makes learning about CSS really easy!
          </p>
        </div>

        <div class="feature">
          <img class="feature-image" src="/img/features/file-tree.gif"></img>
          <h2 class="feature-name">Upload &amp; Create Files</h2>
          <p class="feature-description">
            Thimble is works like a real web project, you can create, raname, delete
            and even upload your own files including folders. Makes it easy to work
            with your own images and photos. Or to open your old projects.
          </p>
        </div>

        <div class="feature">
          <img class="feature-image" src="/img/features/theme.gif"></img>
          <h2 class="feature-name">Light &amp; Dark Themes</h2>
          <p class="feature-description">
            Thimble comes with a dark and light theme, you can toggle it to match
            your preference.
          </p>
        </div>

        <div class="feature">
          <img class="feature-image light-bg" src="/img/features/autocomplete.gif"></img>
          <h2 class="feature-name">Code Autocomplete</h2>
          <p class="feature-description">
            Don't get stuck trying to remember a lot of rules, Thimble will help you along
            the way for HTML, CSS and even JavasScript files. It's great.
          </p>
        </div>

        <div class="feature">
          <img class="feature-image" src="/img/features/inline-css.gif"></img>
          <h2 class="feature-name">Inline CSS Editing</h2>
          <p class="feature-description">
            Write CSS styles for your elements without switching away from the HTML
            page that you are editing. When you're got an element selected, just hit
            <strong>Commmand + E</strong> to open the inline CSS editor.
          </p>
        </div>




        <div class="feature">
          <img class="feature-image" src="/img/features/publishing.gif"></img>
          <h2 class="feature-name">Easy Publishing</h2>
          <p class="feature-description">
            Publish your project to the web with ease! It's easy and fast, what more do you want.
          </p>
        </div>

        <div class="feature">
          <img class="feature-image" src="/img/features/colorpicker.gif"></img>
          <h2 class="feature-name">Inline Colorpicker</h2>
          <p class="feature-description">
            Autocomplete code lets you do this and that. And finishes typing for you, so you can find things
            super easily and greatly you big goof.
          </p>
        </div>

        <div class="feature">
          <img class="feature-image" src="/img/features/preview-modes.gif"></img>
          <h2 class="feature-name">Mobile &amp; Full-screen Preview Modes</h2>
          <p class="feature-description">
            Test your designs in a mobile device, as well as a fullscreen mode as you go.
          </p>
        </div>


      </div>





    </div>
  </div>
{% endblock %}
