{% extends "./base.html" %}

{% block pagetitle %}
  {{ gettext("pageTitleFeatures") | safe }}
{% endblock %}

{% block top %}
<div class="page-heading">
  <div class="content-wrapper">
    <h1>Awesome features make learning<br/> <em>and</em> teaching coding easy &amp; fun</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="page-content">
  <div class="content-wrapper">

    <div class="note">
      <ul>
        <li>Console</li>
        <li>Snippets</li>
        <li>Selfie tool</li>
     </ul>
    </div>

    <div class="callout">
      <p>
        Thimble is a full-featured code editor that runs right in the browser.
        It's designed to help new coders create their own sites and web-based projects using HTML, CSS &amp; JavaScript.
        Everything you need is at your fingertips, allowing you (or your classroom) to get up and running as quickly as
        possible.
      </p>

      <p>
        It's a code editor, web server, web browser &amp; developer tools all in one&mdash;and it's <em>free!</em>
      </p>

    </div>

    <div class="feature-list">

      <div class="feature">

        <video src="/img/features/snippets_final.mp4" autoplay loop></video>
        <h2 class="feature-name">Insert Code Snippets</h2>
        <p class="feature-description">

        </p>
      </div>


      <div class="feature">
        <img class="feature-image" src="/img/features/live-preview.gif"></img>
        <h2 class="feature-name">Instantly see your changes</h2>
        <p class="feature-description">
          See your changes instantly as you edit your project files. There's no need to refresh
          the preview. Makes learning about CSS really easy!
        </p>
      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/remix.gif"></img>
        <h2 class="feature-name">Remix any Thimble project</h2>
        <p class="feature-description">
          Like a Thimble project that you see? Remixing allows you to make your very own version of that project.
          You can also send your project to friends or students&mdash;what they can come up with?
        </p>
      </div>

      <div class="feature wide">
        <img class="feature-image" src="/img/features/file-tree.gif"></img>
        <h2 class="feature-name">Add and manage files</h2>
        <p class="feature-description">
          Thimble is works like a real web project, you can create, raname, delete
          and even upload your own files including folders. Makes it easy to work
          with your own images and photos. Or to open your old projects.
        </p>
        <ul>
          <li>Download a <strong>.zip</strong> of your entire project</li>
          <li>Drag &amp; drop files like photos from your computer into Thimble</li>
        </ul>

      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/theme.gif"></img>
        <h2 class="feature-name">Turn the lights on and off</h2>
        <p class="feature-description">
          Thimble comes with a dark and light theme, so pick what's best for you.
          You can also change other options like the size of the text.
        </p>
      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/tutorial.gif"></img>
        <h2 class="feature-name">Follow &amp; create embedded tutorials</h2>
        <p class="feature-description">
          Projects can have tutorials that help you (or your students) learn as they make
          changes to the projects the Remix.
        </p>
      </div>

      <div class="feature">
        <img class="feature-image light-bg" src="/img/features/autocomplete.gif"></img>
        <h2 class="feature-name">Get code hints as you type</h2>
        <p class="feature-description">
          Don't get stuck trying to remember a lot of rules, Thimble will help you along
          the way for HTML, CSS and even JavasScript files. It's great.
          <span class="note">Add more detail here</span>
        </p>
      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/inline-css.gif"></img>
        <h2 class="feature-name">Edit CSS right in your HTML pages</h2>
        <p class="feature-description">
          Write CSS styles for your elements without switching away from the HTML
          page that you are editing. Put the text cursor on any element tag and hit
          <span class='key'>Cmd/Ctrl</span> + <span class="key">E</span> to start writing CSS styles.
        </p>
      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/publishing.gif"></img>
        <h2 class="feature-name">Publish projects to the web fast</h2>
        <p class="feature-description">
          You can publish your projects to the web with only a single click.
          Later on, when you make changes, you can easily update your project.
        </p>
      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/colorpicker.gif"></img>
        <h2 class="feature-name">Pick colors right in the editor</h2>
        <p class="feature-description">
          Put the text cursor on any color value in a CSS file and press
          <span class='key'>Cmd/Ctrl</span> + <span class="key">E</span> to open the colorpicker.
        </p>

      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/preview-modes.gif"></img>
        <h2 class="feature-name">Test your site on a mobile device</h2>
        <p class="feature-description">
          Switching to the mobile preivew mode lets you see how your project would look on a mobile phone.
          You can also turn on a full-screen preview to get the big picture.
        </p>
      </div>

      <div class="feature">
        <img class="feature-image" src="/img/features/inspector.gif"></img>
        <h2 class="feature-name">Find HTML elements fast</h2>
        <p class="feature-description">
          Turn on the <strong>DOM Inspector</strong> and hover over different elements in the preview.
          Thimble will highlight the related code in the HTML editor.
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock %}
