{% extends "./base.html" %}

{% block pagetitle %}
  {{ gettext("pageTitleGetInvolved") | safe }}
{% endblock %}

{% block top %}
  <div class="page-heading">
    <div class="content-wrapper">
      <h1>
        {{ gettext("getInvolvedHeader") | safe }}
      </h1>

      <a class="feature-button repo" href="https://github.com/mozilla/thimble.mozilla.org/issues/new">{{ gettext("fileAnIssueBtn") }}</a>
      <a class="feature-button list" href="https://github.com/mozilla/thimble.mozilla.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Bug%22">
        <!-- Find an issue to work on -->
        {{ gettext("goodFirstBugBtn") }}
        <div class="good-bug-count"></div>
      </a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="page-content">
    <div class="content-wrapper">

      <div class="right-box">
        <h2>{{ gettext("whyContributeTitle") }}</h2>
        <ul>
          <li>{{ gettext("contributeReason1") }}</li>
          <li>{{ gettext("contributeReason2") }}</li>
          <li>{{ gettext("contributeReason3") }}</li>
          <li>{{ gettext("contributeReason4") }}</li>
        </ul>
      </div>

      <div class="left-side">
        <p>
          {{ gettext("getInvolvedDescription1") | safe }}
          <br/>
          {{ gettext("getInvolvedDescription2") | safe }}
        </p>

        <h3>No contribution is too small</h3>

        <p>
          Contributions of all skills and backgrounds are welcome. You don't need to be an expert programmer, in fact, over
          half of our contributors identify themselves as students. You can start small, file an issue to…
        </p>

        <ul>
          <li>Report bug, problem or typo</li>
          <li>Request a change, new feature or starter project</li>
          <li>Leave feedback</li>
        </ul>

        <p>
          <a class="blue-button" href="https://github.com/mozilla/thimble.mozilla.org/issues/new">Go on, File an Issue!</a>
        </p>

        <p>
          If you're feeling adventurous, then check out our GitHub repositories below.
        </p>

        <div class="two-col">
          <div>
            <h3>On GitHub</h3>
            <ul class="link-list">
              <li>
                <a href="https://github.com/mozilla/thimble.mozilla.org/">Thimble</a> -
                <a class="good-bug" href="https://github.com/mozilla/thimble.mozilla.org/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Bug%22">Good First Bugs</a>
              </li>
              <li>
                <a href="https://github.com/mozilla/brackets/">Brackets</a> -
                <a class="good-bug" href="https://github.com/mozilla/brackets/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Bug%22">Good First Bugs</a>
              </li>
              <li>
                <a href="https://github.com/mozilla/thimble.mozilla.org/blob/master/CONTRIBUTING.md">Contributing Guidelines</a>
              </li>
            </ul>
          </div>

          <div>
            <h3>Get in Touch</h3>
            <ul class="link-list">
              <li><a href="https://chat.mozillafoundation.org/mozilla/channels/thimble">Thimble Chat Channel</a></li>
              <li><a href="mailto:thimble@mozillafoundation.org">Email us</a></li>
            </ul>
          </div>
        </div>

      </div> <!-- left-side -->

    </div>
  </div>

  <div class="featured-contributors">
    <div class="content-wrapper">

      <h2>Featured Contributors</h2>

      <p>
        Over <strong>350 contributors</strong> from more than <strong>30 countries</strong> have been involved in the Thimble project.
        Here are some of the many generous folks that have contributed their time &amp; energy to make Thimble better!
      </p>

      <div class="contributor-list">
        <div class="column left-col">

          <div class="contributor">
            <h3>Jerry Goguette</h3>
            <a href="https://github.com/twigz20">twigz20</a>
            <img class="contributor-photo" src="https://avatars2.githubusercontent.com/u/10361408?v=3&s=460" />
            <ul>
              <li>Added a code snippets menu to make coding easier</li>
              <li>Fixed JavaScript auto toggle bugs</li>
            </ul>
            <p class="quote">“When first starting on Thimble I had little to no experience/knowledge of JavaScript. It took me a while to get my bearings. As I started working on this project I had many hurdles to cross. But with the help of the core team I was able to slowly cross those hurdles. I still have lots to learn, but I'm happy with the progress so far!”</p>
          </div>

          <div class="contributor">
            <h3>Sana Riaz</h3>
            <a href="https://github.com/sanariaz154">sanariaz154</a>
            <img class="contributor-photo" src="https://avatars0.githubusercontent.com/u/15836339" />
            <ul>
              <li>Added extra padding to the Editor to improve legibility</li>
            </ul>
            <p class="quote">
              “We all need people who will give us feedback. That's how we improve. Working with Thimble was the most encouraging experience for me in opensource world and it gave me a chance to work with most friendly and supporting team.”
            </p>
          </div>

          <div class="contributor">
            <h3>Ray Gervais</h3>
            <a href="https://github.com/raygervais">raygervais</a>
            <img class="contributor-photo" src="https://avatars1.githubusercontent.com/u/14265337?v=3&s=460" />
            <ul>
              <li>Added a JavaScript console to help learners to debug their code and find errors</li>
              <li>Improved the usability of Thimble menus</li>
            </ul>
            <p class="quote">
              “Contributing to Thimble enabled me to learn about modern JavaScript web applications,
              an experience which has already helped further my career to new heights and possibilities.
              Open Source has changed the world, and with it, I believe we can do anything.”
            </p>
          </div>

          <div class="contributor">
            <h3>Harkirat Singh</h3>
            <a href="https://github.com/hkirat">hkirat</a>
            <img class="contributor-photo" src="https://avatars0.githubusercontent.com/u/8079861" />
            <ul>
              <li>Created a custom UI to edit parameters for A-frame tags</li>
              <li>Made code completion an optional setting</li>
              <li>Researched tech approaches to collaborative editing</li>
            </ul>
            <p class="quote">
              “Working on Thimble has been a great experience.
              The code is very well written and the mentors are really supportive.
              It is one of the best projects to work in if you want to start working on open source and
              contributing has taught me a lot about open source best practices.”
            </p>
          </div>

          <div class="contributor">
            <img class="contributor-photo" src="https://avatars1.githubusercontent.com/u/14262279" />
            <h3>Christopher Singh</h3>
            <a href="https://github.com/cgsingh">cgsingh</a>
            <ul>
              <li>Added descriptions to projects page</li>
              <li>Made auto closing tags an optional setting</li>
              <li>Fixed a longstanding usability bug with the Publish button</li>
            </ul>
            <p class="quote">“Jumping into Thimble the first time around was daunting. But then I started to contribute, and it became satisfying. I learned a lot about what I usually sidelined &mdash; web development. In Open Source development, I never felt alone. Bring all these talented minds together, and something as great as Thimble can happen.”</p>
          </div>

        </div> <!-- end left-col -->

        <div class="column right-col">

          <div class="contributor">
            <img class="contributor-photo" src="https://avatars1.githubusercontent.com/u/25106861?v=3&s=400" />
            <h3>Brian Yang</h3>
            <a href="https://github.com/peiying16">peiying16</a>
            <ul>
              <li>Added support for file icons in</li>
              <li>Fixed but related to JavaScript settings</li>
              <li>Support for editing SVG files right in the editor</li>
            </ul>
            <p class="quote">“I love Thimble, and I love fixing bug with Thimble team.”</p>
          </div>

          <div class="contributor">
            <img class="contributor-photo" src="https://avatars0.githubusercontent.com/u/3598286?v=3&s=200" />
            <h3>Theo Dule</h3>
            <a href="https://github.com/th30">th30</a>
            <ul>
              <li>Updated menu transition effects</li>
              <li>Made sure files are properly highlighted in the editor</li>
            </ul>
            <p class="quote">“Working with thimble proved to be challenging and explosive way to get into open source. It really made me collaborate and work with some amazing individuals, which always made you feel like your mistakes are merely opportunities to further improve your releases. Persistence is key, and always turn feedback into a lesson opportunity!”</p>
          </div>


          <div class="contributor">
            <img class="contributor-photo" src="https://avatars1.githubusercontent.com/u/13225708" />
            <h3>Oleg Mytryniuk</h3>
            <a href="https://github.com/omytryniuk">omytryniuk</a>
            <ul>
              <li>Improved the built-in image viewer UI</li>
              <li>Added several UI improvements and fixed front-end styling and functionality bugs</li>
              <li>Updated node dependencies in the Thimble project</li>
            </ul>
            <p class="quote">“For me, working on Thimble is not just about gaining valuable programming experience but more importantly a feeling of accomplishment and contributing to a product that is used by people all around the world. Realizing that millions of people benefit from the code I write is what drove me to apply to work on Thimble. The other important factor is the friendly and supportive community within the project which is another reason that makes my open source development experience with Thimble fascinating.”</p>
          </div>

          <div class="contributor">
            <img class="contributor-photo" src="https://avatars3.githubusercontent.com/u/16708173?v=3&s=460" />
            <h3>Tim Moy</h3>
            <a href="https://github.com/timmoy">timmoy</a>
            <ul>
              <li>Fixed a bug related to the auto-refresh setting on the preview panel&mdash;it now remembers the setting when the browser is refreshed</li>
              <li>Added a feature that lets you add filters to images in a project</li>
            </ul>
            <p class="quote">“Prior to Thimble, I worked with relatively small programs that I coded myself or in a small group. Working on code that spans hundreds (probably thousands!) of files being worked on by over 300 people definitely opened up my mind in what “working with others” could mean. I found that there is definitely a learning curve to get used to the environment, but there's always friendly faces that will help you get started as well as with troubles you may have along the way. Just after a few months, I'm able to contribute to the community more than I imagined before. Imagine the possibilities that we can all achieve together as open source continues to grow!”</p>
          </div>

        </div> <!-- end right col -->
      </div>

    </div>
  </div>

{% endblock %}
