{% extends "./base.html" %}

{% block pagetitle %}
<div>  Thimble dimble rimble.</div>
{% endblock %}

{% block top %}
  <div class="page-heading">
    <div class="content-wrapper">
      <h1>
        Curious about open source? <br/>
        <em>Help us build &amp; improve Thimble!</em>
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="page-content">
    <div class="content-wrapper">
      <p>
        Thimble is an open source project created by the <a href="#">Mozilla Foundation</a> in parnership with <a href="http://cdot.senecacollege.ca/">CDOT at Seneca College</a>. It was created to help
        people learn to create their own web projects using HTML, CSS &amp; Javascript.
      </p>

      <h2>Want to get involved?</h2>
      <p>If you are curious about getting into Open Source contribution,</p>
      <ul>
        <li><a href="#">Github Repo</a></li>
      </ul>


      <h2>Why Bother?</h2>
      <ul>
        <li>Contribute to an awesome project used by people all over the globe.</li>
        <li>Gain valuable experience and mentorship</li>
        <li>Gain valuable experience and mentorship</li>
      </ul>

      <h2>Featured Contributors</h2>
      <p>Here are some awesome folks who have contributed to Thimble</p>

      <div class="contributor-list">

        <div class="contributor">
          <h3>Simon de Almeida</h3>
          <a href="https://github.com/simon66">simon66</a>
          <img class="contributor-photo" src="https://avatars1.githubusercontent.com/u/1103528?v=3&s=460" />
          <p>Added localization strings to make Thimble work in different languages.</p>
          <p class="quote">"I had a lot of fun contributing!</p>
        </div>

        <div class="contributor">
          <h3>Simon de Almeida</h3>
          <a href="https://github.com/simon66">simon66</a>
          <img class="contributor-photo" src="https://avatars1.githubusercontent.com/u/1103528?v=3&s=460" />
          <p>Added localization strings to make Thimble work in different languages.</p>
          <p class="quote">"I had a lot of fun contributing!</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
