{% extends "./base.html" %}

{% block pagetitle %}
<div>  Thimble dimble rimble.</div>
{% endblock %}

{% block top %}
  <div class="page-heading">
    <div class="content-wrapper">
      <h1>Get Involved</h1>
      <p>Thimble is an open source product, built by contributors from around the world!<p>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="page-content">
    <div class="content-wrapper">
      <p>Thimble is an open source product, built by contributors from around the world!<p>
    </div>
  </div>
{% endblock %}
