{% block glitchnotice %}
  <link rel="stylesheet" href="/resources/stylesheets/glitch-notice.css">

  <div class="glitch-banner container-flex">
    <div  class="glitch-banner-content" class="container-flex">
      <span class="notice">
        <i class="glitch-logo"></i>{{ gettext("movingNotice") | instantiate | safe}}
      </span>

      <a class="more-info" href="{{ moreInfoURL }}">{{ gettext("readAboutMoving") }}</a>

      <a class="export-button" href="/projects" target="_blank">
        <i class="export-icon"></i><span class="label">{{ gettext("startExporting") }}</span>
      </a>
    </div>
  </div>
{% endblock %}
