{% block userbar %}
  <!-- Thimble user bar for homepage and project list -->
  <nav class="navbar-thimble container-flex">
    <div id="navbar-left" class="container-flex">
      <div class="navbar-logo-container">
        <a href="/{{localeInfo.lang}}" class="logo">
          <img src="/img/thimble-logo.svg" class="thimble-logo-full">
        </a>
      </div>
    </div>

    <div id="navbar-right" class="container-flex">
      <div id="navbar-login" {% if username %}class="signed-in"{% endif %}>
        <div id="navbar-login-inner">
        {% if username %}
          <ul id="navbar-logged-in">
            <li>
              <img class="avatar" src="{{avatar}}">
              <span>{{ gettext("loginWelcome") | instantiate }}</span>
              <img class="icon-arrow-down" src="/img/icon/dropdown-arrow.svg">

              <ul class="dropdown">
                <li>
                  <a id="new-project-link" href="/projects/new" class="dropdown-link">
                    <img src="/img/icon/new-project.svg" class="dropdown-icon">
                    {{ gettext("newProjectLink") }}
                  </a>
                </li>
                <li>
                  <a href="/projects/{{ queryString }}" class="dropdown-link" target="_self">
                    <img src="/img/icon/your-projects.svg" class="dropdown-icon">
                    {{ gettext("yourProjectsLink") }}
                  </a>
                </li>
                <li>
                  <a href="{{ logoutURL }}" id="logout-link" class="dropdown-link" target="_self">
                    <img src="/img/icon/sign-out.svg" class="dropdown-icon">
                    {{ gettext("signOutLink") }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        {% else %}
          <div id="navbar-anonymous">
            {{ gettext("loginPrompt") | instantiate | safe }}
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
