<form class="makeapi-details">
  <fieldset>
    <label>{{ gettext("Name") }}</label>
    <input type="text" name="title" class="input">
    <div class="title-error error-message">{{ gettext("This name is already taken.") }}</div>
  </fieldset>
  <fieldset>
    <label>{{ gettext("Tags") }}</label>
    <input type="hidden" name="tags" class="input">
    <div class="tags-wrapper">
      <ul name="tag-output" class="tags-output">
        <li>thimble</li>
      </ul>
      <input type="text" name="tag-input" class="tags-input">
    </div>
  </fieldset>
  <fieldset>
    <label>{{ gettext("Thumbnail") }}</label>
    <input type="text" name="thumbnail" class="input">
    <ul class="thumbnail-choices input"></ul>
  </fieldset>
  <fieldset>
    <label>{{ gettext("Description") }}</label>
    <textarea name="description" class="input"></textarea>
  </fieldset>
  <fieldset>
    <label>{{ gettext("Locale") }}</label>
    <select name="locale">
      {% for locale in locales %}<option value="{{ locale }}"{%
      if locale == localeInfo.lang %} selected="selected"{% endif
      %}>{{ langmap[locale].nativeName }}</option>{% endfor %}
    </select>
  </fieldset>
  <fieldset>
    <label for="details-published">{{ gettext("Searchable on webmaker.org") }}</label>
    <input type="checkbox" name="published" id="details-published">
  </fieldset>
</form>
