<div class="editor-nav">

  <!-- FILE TREE -->
  <div class="filetree-pane-nav" style="display:none;">
    <div class="nav-container">
      <div class="filetree-pane-nav-title">
        FILES
      </div>


      <div class="flex-container pull-right">
        <div id="filetree-pane-nav-hide">
          <div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- LEFT SIDE -->
  <div class="editor-pane-nav">
    <div class="nav-container">
      <div id="editor-pane-nav-fileview">
        <div></div>
      </div>

      <span class="editor-pane-nav-title">EDITOR</span>
      <span>&nbsp;-&nbsp;</span>
      <span id="editor-pane-nav-filename"></span>

      <div class="flex-container pull-right">
        <div id="editor-pane-nav-undo">
          <img src="/img/icon/undo.svg" width="20px" height="20px">
          <span>Undo</span>
        </div>

        <div id="editor-pane-nav-redo">
          <img src="/img/icon/redo.svg" width="20px" height="20px">
        </div>

          <img id="editor-pane-nav-options" src="/img/icon/gear.svg" width="25px" height="25px">
          <div id="editor-pane-nav-options-menu" class="hide">
            <ul>
              <li><span>Text size</span>
                  <div id="editor-pane-nav-decrease-font" class="font-size-button">
                    <span class="font-size-minus">-</span>
                  </div>
                  <div id="editor-pane-nav-increase-font" class="font-size-button">
                    <span class="font-size-plus" >+</span>
                  </div>
              </li>
              <li><span>Color theme</span>
                <div id="editor-pane-nav-toggle-theme">
                  <div id="theme-active"></div>
                  <div id="theme-dark">
                    <img id="moon-white" src="/img/icon/theme-moon-white.svg" width="15px" height="15px">
                    <img id="moon-green" class="hide" src="/img/icon/theme-moon-green.svg" width="15px" height="15px">
                  </div>
                  <div id="theme-light">
                    <img id="sun-white" class="hide" src="/img/icon/theme-sun-white.svg" width="20px" class="hide" height="20px">
                    <img id="sun-green" src="/img/icon/theme-sun-green.svg" width="20px" height="20px">
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </div>

    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="preview-pane-nav">
    <div class="nav-container">
      <span class="preview-pane-nav-title">PREVIEW</span>
      <div id="preview-pane-nav-refresh">
        <img src="/img/icon/refresh.svg" width="20px" height="20px">
      </div>
      <div class="flex-container pull-right">
        <img id="preview-pane-nav-desktop" class="viewmode-active" src="/img/icon/desktop.svg"  width="30px" height="30px">
        <img id="preview-pane-nav-phone" class="viewmode-inactive" src="/img/icon/phone-portrait.svg" width="30px" height="30px">
      </div>
    </div>
  </div>

</div>
