<div class="editor-nav">

  <!-- FILE TREE -->
  <div class="filetree-pane-nav">
    <div class="nav-container">
      <div class="filetree-pane-nav-title">
        FILES
      </div>


      <div class="flex-container pull-right">
        <div id="filetree-pane-nav-hide">
        </div>
      </div>
    </div>
  </div>

  <!-- LEFT SIDE -->
  <div class="editor-pane-nav">
    <div class="nav-container">
      <div id="editor-pane-nav-fileview">
      </div>

      <span class="editor-pane-nav-title">EDITOR</span>
      <span id="editor-pane-nav-file">&nbsp;-&nbsp;index.html</span>

      <div class="flex-container pull-right">
        <div id="editor-pane-nav-undo">
          <img src="/img/icon/undo.svg" width="20px" height="20px">
          <span>Undo</span>
        </div>

        <div id="editor-pane-nav-redo">
          <img src="/img/icon/redo.svg" width="20px" height="20px">
        </div>

          <img id="editor-pane-nav-options" src="/img/icon/gear.svg" width="25px" height="25px">
          <div id="editor-pane-nav-options-menu">
            <ul>
              <li>Text size 
                <div class="nav-menu-item">
                <span id="editor-pane-nav-smaller-font">-</span>
                <span id="editor-pane-nav-bigger-font">+</span>
                </div>
              </li>
              <li>Color theme

              </li>
            </ul>
          </div>
      </div>

    </div>
  </div>

  <!-- RIGHT SIDE -->
  <div class="preview-pane-nav">
    <div class="nav-container">
      <span class="preview-pane-nav-title">PREVIEW</span>
      <div id="preview-pane-nav-refresh">
        <img src="/img/icon/refresh.svg" width="20px" height="20px">
      </div>
      <div class="flex-container pull-right">
        <img id="preview-pane-nav-desktop" src="/img/icon/desktop.svg"  width="30px" height="30px">
        <img id="preview-pane-nav-phone" src="/img/icon/phone-portrait.svg" width="30px" height="30px">
      </div>
    </div>
  </div>

</div>
