@font-face {
   font-family: 'Open Sans Regular';
   src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
   font-family: 'Open Sans Bold';
   src: url('fonts/OpenSans-Bold.ttf');
}

body {
   font-family: 'Open Sans Regular', sans-serif;
   font-size: 1em;
   padding-top: 10px;
   margin: 0 auto;
   background-color: #0b0b0b;
   background-image: url('btwf_bg.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center top;
   text-align: center;
   margin-bottom: 100px;
}

strong {
  font-family: 'Open Sans Bold';
  font-weight: normal;
}

.content_wrapper {
   position: relative;
   width: 800px;
   top: 35px;
   width: 700px;
   margin: 0 auto;
   padding: 0px;
}

header {
   background-color: #F7931D;
   width: 700px;
   height: 40px;
   margin: 0 auto;
   font-size: 1.5em;
   color: white;
   padding-top: 10px;
}

.left {
   float: left;
   width: 450px;
   font-size: 0.8em;
   color: white;
   overflow: auto;
   background-color: #EF4036;
   text-align: left;
   min-height: 450px;
}

.right {
   float: right;
   width: 250px;
   color: white;
   padding: 0px;
   margin: 0px;
}

.stamp {
  position: absolute;
  top: -60px;
  left: -50px;
}

.topright {
  width: 100%;
  background-color: #27A9E1;
  font-size: 0.8em;
}

.middleright {
  width: 100%;
  background-color: black;
}

.bottomright {
  width: 100%;
  background-color: #00A54E;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0px;
}

p {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.social {
  text-align: right;
  margin-right: 5px;
}

.twittericon {
  text-align: right;
}