# This file is managed centrally by modulesync
#   https://github.com/maestrodev/puppet-modulesync

## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo
tags

## Bundler
.bundle
vendor/

## rbenv / rvm
.rbenv*
.rvmrc*
.ruby-*

## rspec
spec/fixtures/manifests/
spec/fixtures/modules/

## Puppet module
pkg/
coverage/

## Librarian-puppet
.tmp/
.librarian/


# Module-specific paths
Puppetfile.lock
